<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-title>
      ประวัติจองโต๊ะ
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="mainhome">
    <ion-list>
      <ion-item *ngFor="let bk of history_bk" (click)="moreDetail(bk)">
        <ion-label>
          #{{bk.booking_id}} 
          <!-- (โซน {{bk.zone.zone}}) -->
        </ion-label>
        <span slot="end" style="text-align: right;">
          <span style="font-size: 14px;">
           {{bk.date_time | date : 'd/MM/yyyy HH:mm'}} น. 
          </span>
          <br>
          <strong>{{bk.date}}</strong>
        </span>
      </ion-item>
    </ion-list>
  </div>
</ion-content>