<ion-content>
  <div>
    <div class="content">
      <div class="mainhome2">
        <ion-card>
          <ion-card-header>
            รายละเอียด
          </ion-card-header>
          <ion-card-content class="item_list">
            <ion-list class="list_item">
              <ion-item>
                <ion-label>
                  ชื่อผู้รับ
                </ion-label>
                <strong slot="end">{{delivery.member.mm_name}}</strong>
              </ion-item>
              <ion-item>
                <ion-label>
                  ที่อยู่
                </ion-label>

                <p slot="end" class="ion-text-right" style="font-size: 12px;">{{delivery.address.address}}<br />
                  <strong style="font-size: 15px;">
                    {{delivery.address.distance_text}} {{delivery.address.duration_text}}
                  </strong>
                </p>

              </ion-item>
              <ion-item>
                <ion-label>
                  คอมเม้น
                </ion-label>
                <strong slot="end">{{delivery.comment}}</strong>
              </ion-item>

              <ion-item>

                <ion-label>
                  ช้อนซ้อม

                </ion-label>
                <strong slot="end" *ngIf="delivery.member_giveaway=='0'">ไม่ขอช้อนซ้อม</strong>
                <strong slot="end" *ngIf="delivery.member_giveaway=='1'">ขอช้อนซ้อม</strong>
              </ion-item>
              <ion-item>

                <ion-label>
                  ชำระเงิน

                </ion-label>
                <strong *ngIf="delivery.payment_type=='0'"> {{delivery.sum_price}} บาท</strong>
                <ion-badge slot="end" color="danger" *ngIf="delivery.payment_type=='0'">ชำระที่ร้าน</ion-badge>

                <ion-badge slot="end" color="success" *ngIf="delivery.payment_type!='0'">ชำระแล้ว</ion-badge>
              </ion-item>
            </ion-list>
          </ion-card-content>

        </ion-card>
        <ion-card>
          <ion-card-header>
            รายการที่สั่ง

          </ion-card-header>
          <ion-card-content class="item_list">
            <ion-list class="list_item">
              <ion-item *ngFor="let c of delivery.items;let i = index">

                <ion-label>

                  {{c.name['th']}} <ion-badge color="primary" *ngIf="c.status=='1'">กำลังทำ</ion-badge>
                  <ion-badge color="success" *ngIf="c.status=='2'">เสร็จแล้ว</ion-badge>
                  <ion-badge color="danger" *ngIf="c.status=='4'">หมด</ion-badge>
                  <p [innerHTML]="get_html(c)"></p>
                </ion-label>
                <strong slot="end">{{get_price(c)|number}}</strong>
              </ion-item>

              <ion-item>
                <ion-label style="font-weight: 600;">รวมค่าอาหาร</ion-label>
                <strong slot="end">{{delivery.price_food|number}} บาท</strong>
              </ion-item>
            </ion-list>
          </ion-card-content>

        </ion-card>

      </div>
    </div>
  </div>
  <ion-button shape="round" (click)="close()" expand="full" color="dark">ปิด</ion-button>
</ion-content>