<ion-content style="--ion-background-color: aliceblue;">
  <div style="display: flex;justify-content: center; margin: auto;max-width: 300px;">
    <img src="../../assets/img/404-error.png" style="margin-top: 10vh;">
  </div>
  <div style="text-align: center;margin-top: 50px;font-size: x-large;font-weight: 600;">
    <label>
      ไม่พบร้านอาหาร !
    </label>
  </div>
</ion-content>