ion-content {
  // --background: url(https://image.freepik.com/free-photo/big-sandwich-hamburger-burger-with-beef-red-onion-tomato-fried-bacon_2829-5352.jpg)
  //     no-repeat top;
  --background: linear-gradient(to bottom, #d2e9f7, #ffe9c16e);
  // background: black;
  @media (prefers-color-scheme: dark) {
    --background: linear-gradient(to bottom, #313756, #392950);
    // background-image: linear-gradient(to bottom , #313756, #392950);
  }
}
.mainhome {
  max-width: 600px;
  margin: 0 auto;
}

.add_btn {
  position: absolute;
  right: 10px;
  margin-top: -5px;
}
ion-card-header {
  font-size: 20px;
  font-weight: 600;
  border-bottom: solid 1px #e4e4e4;
  color: #273F5B;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}
.list_item {
  ion-buttons {
    width: 50px;
    margin-left: -10px;
  }
  .sc-ion-buttons-ios-h {
    width: 80px;
  }
  ion-input {
    margin-left: 8px;
  }
  ion-button {
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
  }
  ion-label {
    font-weight: bold;
  }
}
ion-list-header {
  font-size: 20px;
  font-weight: bold;
  color: #005cfd;
}
.item_list {
  padding: 0px;
}
:host(.button-clear.ion-color) .button-native {
  --padding: 0px;
}

.total-price{
    color: #037DD6;
    @media (prefers-color-scheme: dark) {
      color: #9A6AFF;
    }
  }
