<ion-header [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-title>
      รับเองที่ร้าน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="mainhome">
    <div [hidden]="!(show==1)">
      <ion-card>
        <ion-card-header>
          รายการที่สั่ง
          <ion-button color="success" class="add_btn" shape="round" [routerLink]="'../../restaurant-menu'">เพิ่ม
          </ion-button>
        </ion-card-header>
        <ion-card-content class="item_list">
          <ion-list class="list_item">
            <ion-item *ngFor="let c of cart;let i = index">
              <ion-buttons slot="start">
                <ion-button color="primary" (click)="remove_count(c,i)">
                  <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                </ion-button>
                <ion-input readonly> {{c.count}}</ion-input>
                <ion-button color="primary" (click)="add_count(c)">
                  <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-label>{{c.name}}
                <p [innerHTML]="get_html(c)"></p>
              </ion-label>
              <!-- <strong slot="end">{{get_price(c)|number}}</strong> -->
              <strong slot="end" *ngIf="c.p_by_w-0 == 1" style="color: #F88BB2;">ตามน้ำหนัก</strong>
              <strong slot="end" *ngIf="c.p_by_w-0 == 0">{{get_price(c)|number}}</strong>
            </ion-item>
            <ion-item>
              <ion-label style="font-weight: 600;">รวมค่าอาหาร </ion-label>

              <strong slot="end" *ngIf="p_by_w">รอคำนวณ...</strong>
              <strong slot="end" *ngIf="!p_by_w">{{sum_all_cart()|number}} บาท</strong>
              <!-- <strong slot="end">{{sum_all()|number}} บาท</strong> -->
            </ion-item>

          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          ติดต่อ
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label style="font-weight: bold;">ชื่อผู้รับ</ion-label>
            <ion-input placeholder="เพิ่มชื่อผู้รับ" [(ngModel)]="c_name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="font-weight: bold;">เบอร์ติดต่อ</ion-label>
            <ion-input placeholder="เพิ่มเบอร์ติดต่อ" [(ngModel)]="c_phone"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          สถานที่
        </ion-card-header>
        <ion-card-content>
          <ion-list mode="md">
            <ion-radio-group [(ngModel)]="takeHome">
              <ion-item>
                <ion-label>ทานที่ร้าน</ion-label>
                <ion-radio slot="start" [value]="'res'"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>กลับบ้าน</ion-label>
                <ion-radio slot="start" [value]="'home'"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <ion-item *ngIf="takeHome == 'home'">
              <ion-label style="font-weight: bolder;">
                ขอรับบริการจากทางร้าน
                <ion-list>
                  <ion-item *ngFor="let ds of _list_ds;let i = index">
                    <ion-checkbox slot="start" color="primary" (ionChange)="getService($event,i)">
                    </ion-checkbox>
                    <ion-label>{{ds.title}}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-label>
            </ion-item>
            <!-- <ion-item *ngIf="takeHome == 'home'">
              <ion-checkbox slot="start" color="primary" [checked]="spoon" (ionChange)="getSpoon()"></ion-checkbox>
              <ion-label>ขอช้อนส้อม</ion-label>
            </ion-item> -->
          </ion-list>
        </ion-card-content>
      </ion-card>


      <ion-row>
        <ion-col size="4">
          <ion-button shape="round" size="large" color="dark" expand="full" routerLink="../../">ปิดออก</ion-button>
        </ion-col>
        <ion-col size="8">
          <ion-button shape="round" size="large" color="success" expand="full" [disabled]="cart.length==0"
            (click)="confirmOrder()">ยืนยันคำสั่งซื้อ
          </ion-button>
        </ion-col>
      </ion-row>

    </div>
    <div [hidden]="!(show==2)">
      <ion-card *ngIf="order.status=='1'">
        <!-- <ion-card-content style="text-align: center;">
          <img src="https://media.tenor.com/images/edd906e054f14521b0289f14966755e9/tenor.gif">
        </ion-card-content> -->
        <ion-card-header class="ion-text-center" style="color: #009b2e;">
          ขอบคุณที่ใช้ที่ใช้บริการ
        </ion-card-header>
      </ion-card>
      <ion-card *ngIf="order.status=='3'">
        <ion-card-content style="text-align: center;padding-top: 50px;">
          <img src="https://delivery.deltafood.me/assets/2738209.png" width="150">
        </ion-card-content>
        <ion-card-header class="ion-text-center">
          <ion-label>
            รอยืนยันรายการจากร้าน...
          </ion-label>
        </ion-card-header>
      </ion-card>

      <ion-card *ngIf="order.status=='5'">
        <ion-card-content style="text-align: center;padding-top: 50px;">
          <img src="https://delivery.deltafood.me/assets/check_bill.png" width="150">
        </ion-card-content>
        <ion-card-header class="ion-text-center">
          <ion-label style="color: red;">
            ร้านยืนยันรายการแล้ว
            <br>
            กรุณาชำระเงิน
          </ion-label>
        </ion-card-header>
      </ion-card>
      <ion-card *ngIf="order.status=='6'">
        <ion-card-content style="text-align: center;padding-top: 50px;">
          <img src="https://delivery.deltafood.me/assets/pay_money.png" width="150">
        </ion-card-content>
        <ion-card-header class="ion-text-center">
          <ion-label>
            รอยืนยันชำระเงินจากร้านค้า
          </ion-label>
        </ion-card-header>
      </ion-card>
      <ion-card *ngIf="order.status=='2'&&!cooking()">
        <ion-card-content style="text-align: center;">
          <img src="https://delivery.deltafood.me/assets/2654572.png" width="150">
        </ion-card-content>
        <ion-card-header class="ion-text-center" style="color: #00881d;">
          ยืนยันแล้ว รออีก {{order.q}} คิว
        </ion-card-header>
      </ion-card>
      <ion-card *ngIf="order.status=='2'&&cooking()&&finish()">
        <ion-card-content style="text-align: center;">
          <img src="https://image.freepik.com/free-photo/fast-food-junk-food-concept_1339-1410.jpg">
        </ion-card-content>
        <ion-card-header class="ion-text-center" style="color: #009b2e;">
          อาหารที่คุณสั่งเสร็จเรียบร้อยแล้ว<br />
          รอคุณมารับ
        </ion-card-header>
      </ion-card>
      <ion-card *ngIf="order.status=='2'&&cooking()&&!finish()">
        <ion-card-content style="text-align: center;">
          <img src="https://media.tenor.com/images/6292b278d6c3c5cefcb7566643c04750/tenor.gif">
        </ion-card-content>
        <ion-card-header class="ion-text-center" style="color: #bb00bb;">
          ร้านกำลังเตรียมอาหารของคุณ...<br />
          มารอรับได้เลยค่ะ
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          รายละเอียด :
          <ion-label style="float: right;" color="primary">
            #{{order.order_id_res}}
          </ion-label>
        </ion-card-header>
        <ion-card-content class="item_list">
          <ion-list class="list_item">
            <ion-item>
              <ion-label>
                ชื่อผู้รับ
              </ion-label>
              <strong slot="end">{{order.delivery_contact.c_name}}</strong>
            </ion-item>
            <ion-item>
              <ion-label>
                เบอร์ติดต่อ
              </ion-label>
              <strong slot="end">{{order.delivery_contact.c_phone}}</strong>
            </ion-item>
            <ion-item>
              <ion-label>
                ประเภท
              </ion-label>
              <strong slot="end" *ngIf="order.is_delivery=='2'">กลับบ้าน</strong>
              <strong slot="end" *ngIf="order.is_delivery=='3'">ทานที่ร้าน</strong>
            </ion-item>

            <ion-item *ngIf="order.is_delivery=='2'">
              <ion-label>
                บริการ
              </ion-label>
              <strong slot="end" style="color: rgb(153, 1, 1);">{{order.service}}</strong>
            </ion-item>
            <ion-item>
              <ion-label>
                ชำระเงิน
              </ion-label>
              <!-- <strong *ngIf="order.payment_type=='0'"> {{order.sum_price}} บาท</strong> -->
              <ion-badge slot="end" color="danger" *ngIf="order.payment_type=='0'&&order.status=='2'">ชำระที่ร้าน
              </ion-badge>
              <ion-badge slot="end" color="success" *ngIf="order.payment_type!='0'&&order.status=='2'">ชำระแล้ว
              </ion-badge>
              <ion-badge slot="end" color="danger" *ngIf="order.status=='3'||order.status=='5'">ยังไม่ชำระเงิน
              </ion-badge>
              <ion-badge slot="end" color="danger" *ngIf="order.status=='6'">รอยืนยัน</ion-badge>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          รายการที่สั่ง
        </ion-card-header>
        <ion-card-content class="item_list">
          <ion-list class="list_item">
            <ion-item *ngFor="let c of order.items;let i = index">
              <ion-label style="font-weight: 100;">
                {{c.name['th']}} <ion-badge color="primary" *ngIf="c.status=='1'">กำลังทำ</ion-badge>
                <ion-badge color="success" *ngIf="c.status=='2'">เสร็จแล้ว</ion-badge>
                <ion-badge color="danger" *ngIf="c.status=='4'">หมด</ion-badge>
                <p [innerHTML]="get_html(c)"></p>
              </ion-label>
              <span *ngIf="c.p_by_w == '1' &&order.status=='3'" slot="end">ตามน้ำหนัก</span>
              <span *ngIf="!(c.p_by_w == '1' &&order.status=='3')" slot="end">{{get_price(c)|number}} บาท</span>
            </ion-item>
            <ion-item>
              <ion-label style="font-weight: 600;">รวมค่าอาหาร</ion-label>
              <!-- <strong slot="end" *ngIf="order.price_food==''">0 บาท</strong> -->
              <strong slot="end" *ngIf="!(p_by_w&&order.status=='3')">{{order.price_food|number}} บาท</strong>
              <strong slot="end" *ngIf="p_by_w&&order.status=='3'">ร้านกำลังคำนวณ...</strong>
            </ion-item>
            <ion-item *ngFor="let charge of order.charge; let i=index">
              <ion-label style="font-weight: 100;">{{charge.name}} </ion-label>

              <span slot="end" *ngIf="!p_by_w">{{charge.type}}{{charge.value|number}} บาท</span>
            </ion-item>
            <ion-item>
              <ion-label style="font-weight: 600;">ราคาสุทธิ </ion-label>
              <strong slot="end" *ngIf="!p_by_w">{{order.sum_price|number}} บาท</strong>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card [hidden]="!(order.status=='5')">
        <ion-card-header>
          ยอดเงินรวม
          <ion-label class="total-price" style="float: right;"> {{sum_all()|number}} บาท</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group mode="md" value="0" (ionChange)="paymentSelect($event)">
              <ion-list-header>
                <ion-label color="primary">การชำระเงิน</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label>ชำระที่ร้าน</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>โอนผ่านบัญชี</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <ion-list [hidden]="!(pay.type==1&&data.bank.length!=0)">
            <ion-radio-group mode="md" (ionChange)="bankSelect($event)">
              <ion-list-header>
                <ion-label>เลือกธนาคารที่จะโอน</ion-label>
              </ion-list-header>
              <ion-item *ngFor="let b of data.bank">
                <ion-label>
                  <strong>เลขที่บัญชี : {{b.acount_number}}</strong>
                  <div>ธนาคาร : {{b.bank}} </div>
                  <p>ชื่อบัญชี : {{b.acount_name}}</p>
                </ion-label>
                <ion-radio slot="start" value="{{b.id_pay_type}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <ion-item *ngIf="src.path != ''">
              <ion-thumbnail slot="start">
                <ion-img [src]="src.path"></ion-img>
              </ion-thumbnail>
              <ion-label>{{src.name}}</ion-label>
            </ion-item>
            <ion-item class="ion-justify-content-center  ion-text-center">
              <input type="file" #fileSlip accept="image/*" (change)="changeFile($event)" hidden>
              <ion-button color="primary" size="default" shape="round" style="margin: 0 auto;"
                (click)="fileSlip.click()">
                แนบสลิป</ion-button>
            </ion-item>
          </ion-list>
          <ion-button shape="round" size="small" style="width: 100px;float: right;" color="danger" expand="block"
            *ngIf="order.status == '5'" (click)="cancelOrder()">ยกเลิก
          </ion-button>
        </ion-card-content>

      </ion-card>
      <ion-row>
        <ion-col size="4">
          <ion-button shape="round" size="large" color="dark" expand="full" routerLink="../../">ปิดออก</ion-button>
        </ion-col>
        <ion-col size="8">
          <ion-button shape="round" [hidden]="order.status!='5'" size="large" color="success" expand="full"
            [disabled]="sum_all()==0" (click)="confirmPayment()">ยืนยันชำระเงิน
          </ion-button>
          <ion-button shape="round" size="small" style="width: 100px;float: right;" color="danger" expand="block"
            *ngIf="order.status == '3'" (click)="cancelOrder()">ยกเลิก
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </div>
  <div style="height: 50px;">

  </div>
</ion-content>