<ion-card-header id="set_review_point">
  <ion-button (click)="onReview()" expand="full" fill="solid" shape="round" mode="ios">
    ให้คะแนนร้านนี้
  </ion-button>
</ion-card-header>
<ion-card-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="10" pullMax="100" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div *ngFor="let r of reviews" class="review-list">
      <ion-item lines="none">
        <!-- <ion-avatar slot="start">
          <img [src]="r.pic_url" onError="this.src='https://cdn-icons-png.flaticon.com/512/1077/1077012.png'" >
        </ion-avatar> -->
        <ion-label class="bg-comment">
          <div style="display: flex;">
            <div style="padding-right:10px;">
              <ion-avatar slot="start">
                <img [src]="r.pic_url" onError="this.src='https://cdn-icons-png.flaticon.com/512/1077/1077012.png'">
              </ion-avatar>
            </div>
            <div style="width: -webkit-fill-available;">
              <ion-icon name="trash-bin-outline" style="float: right;cursor: pointer;" *ngIf="user.mm_id == r.m_id"
                (click)="deleteReview(r.r_id)"></ion-icon>
              <label class="name_user" style="font-size: small;font-weight: bolder;"> {{r.mm_name}}</label>
              <div>
                <label class="star">
                  <ion-icon class="icon-star" *ngIf="r.star>=1" size="small" name="star"></ion-icon>
                  <ion-icon class="icon-star"  *ngIf="r.star>=2" size="small" name="star"></ion-icon>
                  <ion-icon class="icon-star"  *ngIf="r.star>=3" size="small" name="star"></ion-icon>
                  <ion-icon class="icon-star"  *ngIf="r.star>=4" size="small" name="star"></ion-icon>
                  <ion-icon class="icon-star"  *ngIf="r.star>=5" size="small" name="star"></ion-icon>
                  <!-- <span>{{r.star}}</span> -->
                </label>
                <p class="txt-review" [hidden]="r.content==''">
                  {{r.content}}
                </p>

              </div>
              <div class="imgs">
                <div class="img" *ngFor="let m of r.imgs">
                  <div
                    style="background-image: url({{m}}); width: 100px;height: 100px;background-size: cover;cursor: pointer;background-position: center;"
                    ionImgViewer scheme="dark" [src]="m">
                  </div>
                </div>
              </div>
              <div class="star-time" style="width:100%">

                <small class="date_post" style="margin-top: 5px;
          
          float: right;
          font-size: 10px;">{{r.cre_date|date:'dd-MM-yyyy HH:mm'}}</small>
              </div>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-card-content>