#set_review_point {
  text-align: -webkit-center;
  // border-bottom: solid 2px #f5f5f5;
  padding: 0px;
  padding-bottom: 10px;
  ion-button {
    width: 160px;
  }
  .icon-star {
    margin-bottom: 5px;
    font-size: x-large;
    color: rgb(243, 146, 0);
  }
}

.bg-comment {
  background: #f5f7f9;
  border: solid 1px #79a1f5;
  padding: 10px;
  border-radius: 7px;
  @media (prefers-color-scheme: dark) {
    background-color: #30303d;
  }
}

.star-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5 px;
}

.star {
  display: flex;
  align-items: center;
  font-size: small;
}

.review-list {
  .icon-star {
    color: rgb(255, 217, 0);
  }
  border-bottom: solid 2px #f5f5f5;
  padding-bottom: 10px;
}

.imgs {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: inherit;
  .img {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
      rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    width: 60px;
    height: 47px;
    display: inline-block;
    margin: 3px;
    border-radius: 4px;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

@media (prefers-color-scheme: dark) {
  .review-list {
    border-bottom: solid 2px #3c3c3c;
    padding: 10px 0px;
  }
}

ion-icon {
  color: #ca0a0ad4;
  @media (prefers-color-scheme: dark) {
    color: #ed4b9e;
  }
}

.date_post,
.name_user {
  color: #383838;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

ion-avatar {
  border: solid 1px #191326;
  background-color: #e8fcff;
  width: 40px;
  height: 40px;
  @media (prefers-color-scheme: dark) {
    background-color: #3c3742;
  }
}

ion-card-content {
  padding: 0px;
  margin: 0px;
  ion-label {
    margin: 0px;
  }
}
.item-native {
  padding-inline-start: 5px;
}
.img_food {
  background-position: center;
  background-size: cover;

  width: 140px;
  float: left;
  height: 100px;
  display: inline-block;
}
