<ion-content style="--background: url('assets/img/IMG_9563.jpg')  no-repeat center;">
  <div>
    <div class="close" (click)="close()">
      <label style="cursor: pointer;color:#000">ปิด</label>
    </div>
  </div>
  <ion-grid style="margin-top: 11vh;">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="ion-text-center">
          <h4 style="font-weight: bold;">สมัครสมาชิก</h4>
        </div>
        <div class="ion-apdding">
          <form [formGroup]="myForm">
            <ion-item style="   border-top-left-radius: 10px;border-top-right-radius: 10px;">
              <ion-input placeholder="ชื่อ" formControlName="name"></ion-input>
            </ion-item>
            <ion-item style="">
              <ion-input type="tel" maxlength="10" formControlName="phone" placeholder="เบอร์โทรศัพท์"></ion-input>
            </ion-item>
            <ion-item style="">
              <ion-input type="password" maxlength="10" formControlName="password" placeholder="รหัสผ่าน"></ion-input>
            </ion-item>
            <ion-item style=" border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
              <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
            </ion-item>
          </form>
        </div>
        <div class="ion-apdding">
          <ion-button size="large" (click)="register()" [disabled]="myForm.status=='INVALID'" expand="block">ลงทะเบียน
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>