.content {
    padding: 10px;
    .close {
        text-align: right;
        #icon_close {
            cursor: pointer;
        }
    }
    .content-body {
        padding: 15px;
        .topping-sub {
            padding-left: 20px;
        }
        .commnet {
            background-color: aliceblue;
            padding: 10px 15px;
            border-radius: 15px;
            height: 100px;
        }
    }
}
