<ion-content>
  <div class="content">
    <div class="close">
      <ion-icon name="close-outline" id="icon_close" (click)="close()"></ion-icon>
    </div>
    <div class="content-body">
      <div>
        <ion-label style="font-size: smaller;color: lightslategrey;">ชื่อเมนูอาหาร</ion-label>
      </div>
      <div>
        <ion-label style="font-size: larger;" color="primary">
          {{detail.name.th}}
        </ion-label>
        <div style="float: right;">
          <ion-label >{{detail.count}} x {{detail.price}}</ion-label>
        </div>
        <ion-list mode="ios" *ngIf="detail.option">
          <ion-item *ngFor="let opt of detail.option">
            <ion-label [ngClass]="{'topping-sub': opt.count != null || opt.price != null}">{{opt.topping}}</ion-label>
            <ion-text slot="end" *ngIf="opt.count != null || opt.price != null">{{opt.count}} x {{opt.price}}</ion-text>
          </ion-item>
          <!-- <ion-item>
            <ion-label>ไข่ดาว</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>เผ็ดมาก</ion-label>
          </ion-item> -->
        </ion-list>
        <ion-item>
          <ion-label color="primary">รวม</ion-label>
          <ion-text slot="end">{{detail.count}} x {{sum}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label color="primary">รวมทั้งสิ้น</ion-label>
          <ion-text slot="end" style="font-weight: 800;" > {{total}}฿</ion-text>
        </ion-item>
        <div>
          <p class="commnet">
            <ion-label style="font-size: smaller;"color="primary">หมายเหตุ : </ion-label>
            <ion-text *ngIf="detail.comment">
              {{detail.comment}}
            </ion-text>
            <ion-text *ngIf="!detail.comment">
              ไม่มี
            </ion-text>
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>