<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div style="text-align: center;
    font-size: larger;
    font-weight: bolder;">
      <label>
        {{data.name}}
      </label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="detailpage">
  <ion-card *ngFor="let d of data.details; let i = index">
    <ion-card-header style="background-color: #383a3e;">
      <ion-card-title style="color:white;">{{array_lang(d.name)}}</ion-card-title>
      <ion-card-subtitle style="text-align: end;margin-top: -20px;color:white">เลือกได้<span
          *ngIf="d.number_min!=d.number_max">{{d.number_min}} -
          {{d.number_max}}</span><span *ngIf="d.number_min==d.number_max">{{d.number_max}}</span> รายการ
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-button *ngFor="let e of d.sub; let j = index" (click)="selected_change(i,data,d,j)" color="success"
        [ngClass]="{'button-outline':!e.selected}" style="min-width: 32%;height: 50px;font-size: 20px;">
        {{array_lang(e.name)}}
        <ion-badge color="tertiary" *ngIf="e.price-0!==0" style="position: absolute;right: 0; bottom: 0;">
          <span *ngIf="e.price-0>0">+</span>{{e.price}}
        </ion-badge>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="data.toppings.length>0">
    <ion-card-header style="background-color: #3c3f45;">
      <ion-card-title style="color: white;">Topping </ion-card-title>
    </ion-card-header>
    <ion-card-content class="topping" style="">
      <ion-list style="--ion-background-color: white">
        <ion-item style="" *ngFor="let t of data.toppings; let i = index">
          <ion-label style="width: 120px;" color="222428"> {{t.title}}
            <span *ngIf="t.price-0!==0">[<span *ngIf="t.price-0>0">+</span>{{t.price*t.count}}]</span>
          </ion-label>
          <!-- <span>{{'number'|translate}} {{t.count}} {{'total'|translate}} {{t.count*t.price}} {{currency}} </span> -->
          <ion-buttons slot="end" style="margin-right: -15px;">

            <a (click)="removetopping(t)" fill="outline">
              <ion-icon name="remove-circle" style="font-size: 32px;" color="primary"></ion-icon>
            </a>
            <ion-badge color="danger" style="font-size: 20px; margin-bottom: 9px;font-weight: 500;">
              {{t.count}}
            </ion-badge>
            <a (click)="addtopping(t)" fill="outline" style="margin-right: 0px;">
              <ion-icon name="add-circle" style="font-size: 32px;" color="primary"></ion-icon>
            </a>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color: #383a3e;">
      <ion-card-title style="color:white;">โน๊ต</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center" style="margin-top:10px">
      <ion-textarea color="dark" id="note" placeholder="โน๊ต"  [(ngModel)]="data.comments">
      </ion-textarea>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color:#383a3e;">
      <ion-card-title style="color:white;">จำนวน</ion-card-title>
    </ion-card-header>
    <ion-card-content style="height: 88px;">
      <ion-fab vertical="top" horizontal="center">
        <ion-fab-button (click)="add()" style="margin-top: 5px;margin-left: 80px;color: #7044ff;right: 40px;">
          <ion-icon name="add" style="font-size: 30px;"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark"
          style="margin-top: 5px;position: absolute; margin-top: -55px;right: 55px;color: #7044ff;font-size: 30px; margin-right: 16px;">
          {{data.count}}
          <!-- {{data.countPick}} -->
        </ion-fab-button>
        <ion-fab-button (click)="remove()"
          style="margin-top: 5px;position: absolute; margin-top: -55px;right: 150px;color: #7044ff;">
          <ion-icon name="remove" style="font-size: 30px;color:white"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark" >
    <ion-title style="padding: 0px;">
      <ion-button (click)="close()" expand="full" color="light"
        style="width: 32%;height: 50px;font-size: 20px;display: inline-block;">ปิดออก</ion-button>
      <ion-button color="dark" style="width: 32%;height: 50px;font-size: 20px;">
        <span *ngIf="data.is_buffet=='0'">
          {{sum_item(data)}} {{currency}}
        </span>
        <span *ngIf="data.is_buffet=='1'">บุปเฟต์</span>
      </ion-button>
      <ion-button class="ion-float-right" expand="full" (click)="addFood(data)" color="success"
        style="width: 32%;height: 50px;font-size: 20px;">บันทึก
        <!-- (click)="add_product(data)" -->
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>