ion-card-header {
  padding: 10px 15px;
  ion-card-title {
    font-size: large;
  }
}

.card-content-ios {
  padding-top: 20px;
  ion-button {
    margin: 5px;
  }
}
ion-content {
  --ion-background-color: #eff0f5;
}
.card-content-md h3,
.card-content-md h4,
.card-content-md h5,
.card-content-md h6 {
  position: absolute;
  left: 211px;
  margin-top: 17px;
  border: solid;
  width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 100%;
  padding-top: 8px;
  font-size: 26px;
  border-color: black;
  color: black;
}
.sc-ion-card-ios-h {
  margin: 5px;
}
.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  font-family: "Mitr", sans-serif;
}
.sc-ion-card-ios-h {
  ion-card-header {
    padding: 5px;
    font-family: "kanit";
  }
  ion-card-content {
    padding: 5px;
  }
}
.topping {
  ion-card-content {
    padding-bottom: 0px;
  }
}
.card-content-md {
  position: relative;
}

ion-card .card-content-md {
  background-color: rgba(255, 255, 255, 0.5);
}
textarea {
  color: #000;
  border-color: #000;
}
.native-textarea.sc-ion-textarea-md {
  color: #000;
  border: #000;
}
.native-textarea.sc-ion-textarea-md {
  color: #000;
  border: #000;
}
ion-card {
  // margin: 0px;
  // padding: 0px;

  // min-height: 140px;
  .card-content-md {
    padding: 5px;
    width: 100%;
    -webkit-padding-start: 5px;
    padding-inline-start: 5px;
    -webkit-padding-end: 5px;
    padding-inline-end: 5px;
    color: #000;
    // position: absolute;
    bottom: 5px;
    color: #fff;

    font-size: 18px;
    background-color: rgba(255, 255, 255);
  }
  // .card-content-ios {
  //     padding: 5px;
  //     width: 100%;
  //     -webkit-padding-start: 5px;
  //     padding-inline-start: 5px;
  //     -webkit-padding-end: 5px;
  //     padding-inline-end: 5px;
  //     min-height: 150px;
  //     color: #000;
  //     position: absolute;
  //     bottom: 5px;
  //     color: #fff;
  //     font-size: 18px;
  //     background-color: rgba(255, 255, 255);
  // }
}

ion-title {
  background-color: ghostwhite;
  @media (prefers-color-scheme: dark) {
    background-color: #1c1c27;
  }
}

.ion-text-center {
  #note {
    color: #000;
    @media (prefers-color-scheme: dark) {
      color: rgb(173, 173, 173);
    }
  }
}

.native-textarea.sc-ion-textarea-md {
  color: #000;
  border: #000 1px solid;
}

ion-textarea {
  --color: #000;
  @media (prefers-color-scheme: dark) {
    --color: white;
  }
}
