.mainhome {
    max-width: 600px;
    margin: 0 auto;
}

.avatar {
    width: 120px;
    height: 120px;
    position: absolute;
    display: block;
    z-index: 1000;
    left: calc(50vw - 55px);
    margin-top: -100px;
    border-radius: 50%;
    border: solid 2px rgb(221, 221, 221);
    overflow: hidden;
    background-size: cover;
}
.profile {
    // margin: 5px;
    margin-top: 120px;
    position: inherit;
    ion-card-header {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #000;
        padding-bottom: 0px;
    }
    ion-card-subtitle {
        text-align: center;
    }
}