<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="../">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      แก้ไขโปรไฟล์
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="mainhome">
    <div class="avatar" style="background-image: url({{src}});">
      <!-- <ion-img [src]="src"></ion-img> -->
    </div>
    <ion-card class="profile">
      <ion-card-header style="text-align: -webkit-center;">
        <input type="file" #imgFile (change)="fileChanged($event)" accept="image/*" hidden>
        <ion-button (click)="imgFile.click()" expand="full"  size="small" mode="ios" shape="round" style="width: max-content;">
          อัพโหลดรูปโปรไฟล์
        </ion-button>
      </ion-card-header>
      <ion-card-subtitle>
      </ion-card-subtitle>
      <ion-card-content>
        <form [formGroup]="formProfile">
          <ion-list>
            <ion-item>
              <ion-label position="floating">ชื่อ <ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" placeholder="โปรดรุบุชื่อของท่าน." formControlName="mm_name"></ion-input>
            </ion-item>
            <!-- <ion-item>
              <ion-label position="floating">เบอร์โทร</ion-label>
              <ion-input type="text" placeholder="Awesome Input" formControlName="phone_id"></ion-input>
            </ion-item> -->
          </ion-list>
          <ion-button color="primary" expand="block" (click)="update()" [disabled]="formProfile.invalid">บันทึก</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>