<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="../">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      แก้ไขสถานที่จัดส่ง
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="mainhome">
    <ion-card>
      <ion-card-content>
        <ion-list mode="ios">
          <ion-list-header lines="inset">
            <ion-label color="primary">
              <strong>สถานทื่จัดส่ง</strong>
            </ion-label>
          </ion-list-header>
          <ion-item button *ngFor="let local of address" (click)="openAddress(local)">
            <ion-label  >
              {{local.local_name}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
