ion-card {
    width: 200px;
    display: inline-block;
    text-align: center;
}
.box {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 70px;
    overflow-x: scroll;
}
.maker {
    position: absolute;
    width: 100%;
    bottom: 85px;
    ion-button {
        margin: 0 auto;
        display: table;
    }
}
