<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ที่อยู่ในการจัดส่ง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #mapElement class="map" style="height: 100%; width: 100%;">
  </div>
  <div class="maker">
    <ion-button style="width: 250px;" color="success" (click)="maker_location()">เลือกตำแหน่งนี้</ion-button>
  </div>
  <!-- <div class="box">
    <div style="width: 1500px;">
      <ion-card color="primary" *ngFor="let local of myLocation" (click)="select_location(local)">
        <ion-card-content>
          {{local.local_name}}
        </ion-card-content>
      </ion-card>
    </div>
  </div> -->
</ion-content>