<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>เลือกกลุ่มอาหาร</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="6" size-lg="4" size-md="4" size-sm="4" col-xs="3" col-xs="12" *ngFor="let t of group"
      (click)="select_group(t)">
      <ion-card>
        <img src="{{t.pic_id}}" [src]="t.pic_id">
        <ion-card-content>
          {{t.name}}
        </ion-card-content>
      </ion-card>
    </ion-col>


    
  </ion-row>
</ion-content>