.card-content-md h3,
.card-content-md h4,
.card-content-md h5,
.card-content-md h6 {
  position: absolute;
  left: 211px;
  margin-top: 17px;
  border: solid;
  width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 100%;
  padding-top: 8px;
  font-size: 26px;
  border-color: black;
  color: black;
}
.sc-ion-card-ios-h {
  margin: 5px;
}
.sc-ion-card-ios-h {
  ion-card-header {
    padding: 5px;
    font-family: "kanit";
  }
  ion-card-content {
    padding: 5px;
  }
}
.topping {
  ion-card-content {
    padding-bottom: 0px;
  }
}
.card-content-md {
  position: relative;
}
ion-card .card-content-md {
  background-color: rgba(255, 255, 255, 0.5);
}
textarea {
  color: #000;
  border-color: #000;
}
.native-textarea.sc-ion-textarea-md {
  color: #000;
  border: #000;
}
ion-card {
  margin: 0px;
  padding: 0px;
  height: 95%;
  .card-content-md {
    padding: 5px;
    width: 100%;
    -webkit-padding-start: 5px;
    padding-inline-start: 5px;
    -webkit-padding-end: 5px;
    padding-inline-end: 5px;
    color: #000;
    position: absolute;
    bottom: 0px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    background-color: #22242882;
  }
  .card-content-ios {
    padding: 1px;
    width: 100%;
    -webkit-padding-start: 5px;
    padding-inline-start: 5px;
    -webkit-padding-end: 5px;
    padding-inline-end: 5px;
    color: aliceblue;
    position: absolute;
    text-align: center;
    bottom: 0px;
    color: #fff;
    font-size: 18px;
    background-color: #1e202370;
  }
}

.native-textarea.sc-ion-textarea-md {
  color: #000;
  border: #000 1px solid;
}
ion-content {
  --ion-background-color: #eff0f5;
}
