<ion-card-content>
  <div class="box">
    <ion-img [src]="img"  style="max-width: 100%; margin-bottom: 5px; border-radius: 10px; overflow:hidden;" *ngFor="let img of img_review_url">
      
    </ion-img>
    <!-- <div style="width: max-content">
      <div class="img" ionImgViewer scheme="dark" [src]="img" *ngFor="let img of img_review_url" style="background: url({{img}});background-size: cover;">
      </div>
      <img ionImgViewer scheme="dark" [src]="img" *ngFor="let img of img_review_url" width="200">
    </div> -->
  </div>
</ion-card-content>