.box {
  overflow-x: scroll;
  .img {
    margin: 10px 10px;
    display: inline-block;
    border-radius: 5%;
    box-shadow: 3px 3px 3px 0px #737373a1;
    width: 250px;
    height: 400px;
    cursor: pointer;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5FB0E5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4988B2;
}
