.booking {
    ion-item {
        #is_open{
            font-weight: bolder;
            padding-top: 10px;
        }
        ion-label {
         
            font-size: 20px;
        }
        strong{
            font-size: 20px;
        }
        ion-input {
            text-align: right;
            font-weight: 600;
            font-size: 20px;
        }
    }
}

ion-card-content {
    padding: 0px;
}
ion-card-header {
    font-size: 20px;
    font-weight: 600;
    border-bottom: solid 1px #e4e4e4;
}
.mainhome {
    max-width: 600px;
    margin: 0 auto;
}
.cart {
    .add_btn {
        position: absolute;
        right: 10px;
        margin-top: -5px;
    }
    ion-card-header {
        font-size: 20px;
        font-weight: 600;
        border-bottom: solid 1px #e4e4e4;
    }
    .list_item {
        ion-buttons {
            width: 50px;
            margin-left: -10px;
        }
        .sc-ion-buttons-ios-h{
            width: 80px;
        }
        ion-input {
            margin-left: 8px;
        }
        ion-button {
            --padding-start: 0px;
            --padding-end: 0px;
            --padding-top: 0px;
            --padding-bottom: 0px;
        }
        ion-label {
            font-weight: bold;
        }
    }
    ion-list-header {
        font-size: 20px;
        font-weight: bold;
    }
    .item_list {
        padding: 0px;
    }
}

.text-bold{
    font-weight: bold;
}