<ion-header [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-title>
      <ion-label *ngIf="data.booking.emty_queue > 0">จองโต๊ะ ( ว่าง {{data.booking.emty_queue}} คิว )</ion-label>
      <ion-label *ngIf="data.booking.emty_queue < 1">คิวเต็ม</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mainhome">
    <div [hidden]="show!=1">
      <ion-card class="booking">
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>ชื่อผู้จอง</ion-label>
              <ion-input placeholder="เพิ่มชื่อผู้รับ" [(ngModel)]="c_name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>เบอร์ติดต่อ</ion-label>
              <ion-input placeholder="เพิ่มเบอร์ติดต่อ" [(ngModel)]="c_phone"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>วันที่</ion-label>
              <!-- <ion-input type="date" [(ngModel)]="date" (ionBlur)="dateChange()"></ion-input> -->
              <ion-datetime [min]="min_date" [max]="max_date" displayFormat="DD MMM YYYY"
                monthShortNames="ม.ค.,ก.พ.,มี.ค.,เม.ย.,พ.ค.,มิ.ย.,ก.ค.,ส.ค.,ก.ย.,ต.ค.,พ.ย.,ธ.ค." [(ngModel)]="date"
                (ionChange)="dateChange()"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label *ngIf="!not_ready_time">
                เวลา
                <p>จองได้ {{data.booking.timeS}} ถึง {{data.booking.timeE}} น.</p>
              </ion-label>
              <ion-datetime displayFormat="เวลา" [min]="data.booking.timeS" [max]="data.booking.timeE"
                displayFormat="HH:mm" minuteValues="0,30" [(ngModel)]="time" (ionChange)="dateChange()"
                *ngIf="!not_ready_time">
              </ion-datetime>
              <div>
                <ion-label *ngIf="not_ready_time" style="font-size: inherit;color: darkgray;">
                  ยังไม่ถึงเวลาเปิดจองโต๊ะ
                </ion-label>
              </div>
            </ion-item>
            <ion-item style="padding-right: 30px;">
              <ion-label>จำนวนคน</ion-label>
              <ion-input type="number" max="30" min="3" mode="ios" [(ngModel)]="booking" (ionChange)="bookingChange()">
              </ion-input>
              <ion-label>คน</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                โซน
              </ion-label>
              <span slot="end" *ngIf="data.booking.zones.length < 1">โปรดเลือกเวลาจองโต๊ะให้ถูกต้อง</span>
              <ion-select [(ngModel)]="zone.b_id" interface="action-sheet" mode="ios" cancel-text="ปิด"
                (ionChange)="getZone()" style="    font-weight: 600; font-size: 20px;"
                *ngIf="data.booking.zones.length > 0">
                <ion-select-option [value]="z.b_id" *ngFor="let z of data.booking.zones">{{z.zone}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">หมายเหตุ</ion-label>
              <ion-input style="text-align: left;" [(ngModel)]="note"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>มัดจำการจอง</ion-label>
              <strong>{{zone.price}} บาท</strong>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card class="cart">
        <ion-card-header>
          สั่งอาหารไว้รอ
          <ion-button color="success" shape="round" class="add_btn" [routerLink]="'../../restaurant-menu'"
            *ngIf="data.booking.emty_queue > 0">เพิ่ม
          </ion-button>
          <ion-button color="success" shape="round" class="add_btn" disabled *ngIf="data.booking.emty_queue < 1">เพิ่ม
          </ion-button>
        </ion-card-header>
        <ion-card-content class="item_list">
          <ion-list class="list_item">
            <ion-item *ngFor="let c of cart;let i = index">
              <ion-buttons slot="start">
                <ion-button color="primary" (click)="remove_count(c,i)">
                  <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                </ion-button>
                <ion-input readonly> {{c.count}}</ion-input>
                <ion-button color="primary" (click)="add_count(c)">
                  <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-label>{{c.name}}
                <p [innerHTML]="get_html(c)"></p>
              </ion-label>
              <strong slot="end">{{get_price(c)|number}}</strong>
            </ion-item>
            <ion-item [hidden]="cart == []">
              <ion-label style="font-weight: 600;">รวมค่าอาหาร</ion-label>
              <strong slot="end">{{sum_all()|number}} บาท</strong>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card class="cart" [hidden]="total==0">
        <ion-card-header>
          ยอดเงินรวม
          <ion-label color="primary" style="float: right;">{{total|number}} บาท</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-radio-group mode="md" [value]="bank[0].id_pay_type" (ionChange)="bankSelect($event)">
              <ion-list-header>
                <ion-label color="primary">เลือกธนาคารที่จะโอน</ion-label>
              </ion-list-header>
              <ion-item *ngFor="let b of bank">
                <ion-label>
                  <strong>เลขที่บัญชี : {{b.acount_number}}</strong>
                  <div>ธนาคาร : {{b.bank}} </div>
                  <p>ชื่อบัญชี : {{b.acount_name}}</p>
                </ion-label>
                <ion-radio slot="start" value="{{b.id_pay_type}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <ion-item *ngIf="src.path != ''">
              <ion-thumbnail slot="start">
                <ion-img [src]="src.path"></ion-img>
              </ion-thumbnail>
              <ion-label>{{src.name}}</ion-label>
            </ion-item>
            <ion-item class="ion-justify-content-center  ion-text-center">
              <input type="file" #fileSlip accept="image/*" (change)="changeFile($event)" hidden>
              <ion-button color="primary" size="default" style="margin: 0 auto;" shape="round"
                (click)="fileSlip.click()">
                แนบสลิป</ion-button>
            </ion-item>
          </ion-list>
        </ion-card-content>

      </ion-card>
      <ion-row>
        <ion-col size="4">
          <ion-button shape="round" size="large" color="dark" expand="full" routerLink="../../">ปิดออก</ion-button>
        </ion-col>
        <ion-col size="8">
          <ion-button shape="round" size="large" color="success" expand="full" (click)="confirmOrder()"
            *ngIf="data.booking.emty_queue > 0">ยืนยันการจอง
          </ion-button>
          <ion-button shape="round" size="large" color="secondary" expand="full" disabled="true"
            *ngIf="data.booking.emty_queue < 1">คิวเต็ม
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div [hidden]="show!=2">
      <ion-card class="booking">
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>ID การจอง</ion-label>
              <ion-label color="primary" class="ion-text-right text-bold">#{{booking_data.booking_id}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>วันที่</ion-label>
              <ion-label class="ion-text-right text-bold">{{booking_data.date}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>ชื่อผู้จอง</ion-label>
              <ion-label class="ion-text-right text-bold">{{booking_data.booking_contact.c_name}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>เบอร์ติดต่อ</ion-label>
              <ion-label class="ion-text-right text-bold">{{booking_data.booking_contact.c_phone}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>เวลา</ion-label>
              <ion-label class="ion-text-right text-bold">{{booking_data.time}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>จำนวนที่นั่ง</ion-label>
              <ion-label class="ion-text-right text-bold">{{booking_data.people}} ท่าน</ion-label>

            </ion-item>
            <ion-item>
              <ion-label>ประเภท</ion-label>
              <ion-label class="ion-text-right text-bold">{{booking_data.zone}} </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>หมายเหตุ</ion-label>
              <ion-label class="ion-text-right ">{{booking_data.note}} </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>มัดจำการจอง</ion-label>
              <strong>{{booking_data.total}} บาท</strong>
            </ion-item>

          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          รายการที่สั่ง

        </ion-card-header>
        <ion-card-content class="item_list">
          <ion-list class="list_item">
            <ion-item *ngFor="let c of booking_data.foods;let i = index">
              <ion-label>
                {{c.name}} <ion-badge color="primary" *ngIf="c.status=='1'">กำลังทำ</ion-badge>
                <p [innerHTML]="get_html(c)"></p>
              </ion-label>
              <strong slot="end">{{get_price(c)|number}}</strong>
            </ion-item>

          </ion-list>
        </ion-card-content>

      </ion-card>
      <div class="ion-text-right">
        <ion-button (click)="cancel()" size="small" style="margin-right: 10px;" color='danger'>ยกเลิก</ion-button>
      </div>

    </div>
  </div>
</ion-content>