.imgs {
    width: 100%;
    .img {
        width: 60px;
        height: 60px;
        border: solid 1px #aaa;
        padding: 2px;
        margin: 5px;
        border-radius: 10px;
        display: inline-block;
        img {
            width: 100%;
        }
    }
}
.star{
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    ion-icon{
        font-size: 25px;
        color:red;
    }
}
