<ion-content>
  <div class="star ion-justify-content-center">
    <span>
      <ion-icon name="star" [hidden]="star<1"></ion-icon>
      <ion-icon name="star"  [hidden]="star<2"></ion-icon>
      <ion-icon name="star"  [hidden]="star<3"></ion-icon>
      <ion-icon name="star"  [hidden]="star<4"></ion-icon>
      <ion-icon name="star"  [hidden]="star<5"></ion-icon>
    </span>
  </div>
  
  <div class="camera"></div>
    <img  [src]="src" />
 


  <ion-item>
    <ion-textarea rows="3" placeholder="เล่าให้เราฟังหน่อยว่าคุณได้อะไรบ้างจากร้านนี้"
    [(ngModel)]="desc">
    </ion-textarea>
  </ion-item>

<div>
  <ion-card style="display: none;" >
    <img  src="https://ucarecdn.com/{{ imageURL }}/"/>
    <!-- <img  [src]="src" /> -->
    
  </ion-card>
</div>
  
  <div class="imgs">
    <div class="img">
  
      <input type="file" style="display: none;"    (change)="fileChanged($event)" 
  class="filebtn" #fileButton />
      <!-- <ion-button shape="round" color="primary" (click)="uploadFile()"
       fill="outline"
      >Upload File!</ion-button> -->
     
      <img (click)="uploadFile()"
      src="https://icon-library.com/images/add-image-icon-png/add-image-icon-png-15.jpg"/>

      
    </div>
  </div>
  


</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="4">
        <ion-button shape="round" (click)="close()" expand="full" color="light">ปิด</ion-button>
      </ion-col>
      <ion-col size="8">
        <ion-button shape="round"(click)="add_review()"  expand="full" color="success">รีวิว</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>