<div class="content">
  <div id="close">
    <ion-icon name="close-outline" (click)="close()"></ion-icon>
  </div>
  <ion-content>
    <div #mapElement class="map">
    </div>
    <div id="input_mark">
      <form [formGroup]="formAddress">
        <ion-list mode="md">
          <ion-item>
            <ion-label>จุดสังเกตุ : </ion-label>
            <ion-input type="text" formControlName="local_name"></ion-input>
          </ion-item>
        </ion-list>
        <div>
          <ion-button (click)="update()" expand="block" shape="round" [disabled]="formAddress.controls.local_name.invalid">
            <span *ngIf="formAddress.controls.local_name.invalid">โปรดระบุจุดสังเกตุ</span>
            <span *ngIf="formAddress.controls.local_name.valid">อัพเดท</span>
          </ion-button>
          <ion-button (click)="delete(formAddress.value.local_id)" color="danger" expand="block" shape="round">
            ลบ
          </ion-button>
        </div>
      </form>
    </div>
  </ion-content>
</div>