.content{
    padding: 10px;
    height: 100%;
    .map{
        width: 100%;
        height: 65%;
    }
    #input_mark{
        padding-top: 5px;
    }
    #close{
        text-align: right;
        cursor: pointer;
    }
}