<ion-content>
  <div class="mainhome">
    <div class="header">
      <div class="avatar"
        style="background-size: cover;background-image: url('{{user.pic_url}}');">
      </div>
      <div class="content">
        <h4>{{user.mm_name}}this is name</h4>
        <div class="tel">{{user.phone_id}}</div>
        <!-- <ion-button class="btn-edit" shape="round" routerLink="config-profile">
          <img src="../../assets/images/ic_edit_24px.png"> แก้ไข
        </ion-button> -->
      </div>
      <!-- <div class="detail">
        <div class="text">คะแนน</div>
        <div class="scroe"><img src="../../assets/images/ic_local_activity_24px.png">
          0
        </div>
        <ion-button class="btn-detail" shape="round">
          <ion-icon name="pencil-outline"></ion-icon>
          คะแนน
        </ion-button>
      </div> -->
    </div>
    <ion-list mode="ios">
      <ion-item routerLink="history-delivery" button>
        <!-- <img src="../../assets/images/repeat-outline.png"> -->
        <ion-icon name="create"></ion-icon>
        <ion-label>
          <h3>ประวัติเดลิเวอร์รี่</h3>
        </ion-label>
      </ion-item>
      <!-- <ion-item routerLink="history-booking" button>
        <ion-icon name="create"></ion-icon>
        <ion-label>
          <h3>ประวัติจองโต๊ะ</h3>
        </ion-label>
      </ion-item> -->
      <!-- <ion-item button routerLink="config-address">
        <img src="../../assets/images/repeat-outline.png">
        <ion-label>
          <h3>สถานที่จัดส่ง</h3>
        </ion-label>
      </ion-item> -->
      <!-- <ion-item button routerLink="config-password">
        <img src="../../assets/images/ic_lock_outline_24px.png">
        <ion-label>
          <h3>ความปลอดภัย</h3>
        </ion-label>
      </ion-item> -->
      <!-- <ion-item button [routerLink]="[ 'setting-location-order']">
        <img src="../../assets/images/ic_language_24px.png">
        <ion-label>
          <h3>หกดกดเเ</h3>
        </ion-label>
      </ion-item>

      <ion-item button [routerLink]="[ 'book-bank']">
        <img src="../../assets/images/card.png">
        <ion-label>
          <h3>กดกดเห</h3>
        </ion-label>
      </ion-item>

      <ion-item button [routerLink]="[ 'verify']">
        <img src="../../assets/images/shield-checkmark.png">
        <ion-label>
          <h3>กดเหกด</h3>
        </ion-label>
      </ion-item>

      <ion-item button disabled>
        <img src="../../assets/images/ic_notifications_active_24px.png">
        <ion-label>
          <h3>หกกดเ</h3>
        </ion-label>
      </ion-item> -->

      <!-- <ion-item button>
      <img src="../../assets/images/ic_block_24px.png">
      <ion-label>
        <h3>ปิดบัญชีการใช้งาน</h3>
      </ion-label>
    </ion-item> -->

      <ion-item button (click)="logout()">
        <!-- <img src="../../assets/images/ic_system_update_alt_24px.png"> -->
        <ion-icon name="exit"></ion-icon>
        <ion-label>
          <h3>ออกจากระบบ</h3>
        </ion-label>
      </ion-item>


    </ion-list>
    <div class="version">DeltaDelivery Version 1.0</div>
  </div>
</ion-content>
<!-- <ion-content [fullscreen]="true">


  <app-explore-container name="กรุณาเข้าสู่ระบบ"></app-explore-container>
</ion-content> -->