// ion-content {
//     --background: url(https://image.freepik.com/free-photo/big-sandwich-hamburger-burger-with-beef-red-onion-tomato-fried-bacon_2829-5352.jpg)
//         no-repeat top;
//     background: #efefef;
// }
.mainhome {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  @media (prefers-color-scheme: dark) {
    background-color: #706a7c;
  }
}

:host {
  --page-margin: var(--app-broad-margin);
  --page-background: #f1eeee;
  // --background: #f1eeee;
}
ion-content {
  background: #efefef;
}
.header {
  background-image: linear-gradient(to bottom , #D2E9F7,#ffe9c16e);
  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(to bottom, #313756, #392950);
  }
  height: 90px;
  padding: 15px;
  padding-left: 20px;
  .avatar {
    width: 50px;
    height: 50px;
    border: solid 1px #fff;
    border-radius: 50%;
    padding: 0px;
    background-color: #c4c4c4;
    @media (prefers-color-scheme: dark) {
      background-color: #3c3742;
    }
    img {
      width: 100%;
    }

    display: inline-block;
  }
  .add-camera {
    width: 15px;
    height: 15px;
    background-color: rgb(251, 0, 251);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    margin-top: -20px;
    margin-left: 19px;
    border: #fff 1px solid;
    img {
      display: block;
      margin: 2px;
    }
  }
  .content {
    margin-left: 15px;
    display: inline-block;
    color: #273F5B;
    @media (prefers-color-scheme: dark) {
      color: white
    }
    vertical-align: top;
    h4 {
      font-size: 16px;
      font-weight: 100;
      margin: 0px;
    }
    .tel {
      font-size: 12px;
    }
    .btn-edit {
      font-size: 10px;
      height: 18px;
      width: 75px;
      margin-top: -10px;
      color: #fff;
      img {
        margin-right: 3px;
      }
    }
  }
  .detail {
    position: inherit;
    right: 20px;
    text-align: right;
    margin-top: -63px;
    color: #fff;
    .text {
      font-size: 10px;
    }
    .btn-detail {
      font-size: 10px;
      height: 18px;
      width: 75px;
      margin-top: -10px;
      color: #fff;
      --background: #f517c1;
    }
    .scroe {
      text-align: right;
      font-size: 16px;
      color: #ffd500;
    }
  }
}
ion-list {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  ion-item {
    @media (prefers-color-scheme: dark) {
      --color: #3b3b3b;
    }
  }

  ion-item {
    --background: #FAFCFF;
    @media (prefers-color-scheme: dark) {
      --background: #353547;
      --color: white;
    }
    // padding-right: 20px;
    // padding-left: 20px;
    img {
      margin-left: 10px;
    }
    ion-label {
      padding-left: 10px;
    }
  }
}
.version {
  font-size: 10px;
  color: #7d7b7a;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
  width: 100%;
  text-align: center;
  margin-top: 70px;
}
