<ion-content [fullscreen]="true" style=" --background: url({{data.img_bg_url}}),url('https://wallpaperaccess.com/full/1285952.jpg')
no-repeat top;">
  <div class="mainhome">
    <div class="avatar">
      <div style="background-image: url('{{data.logo_url}}');background-size: cover;background-position: center;width: 150px;height: 150px;">

      </div>
      <!-- <img src="{{data.logo_url}}" onerror="this.src='assets/icon/logo_res_default.png'"> -->
    </div>
    <ion-card class="profile">
      <div style="float: left;margin: 5px;text-align: right;cursor: pointer;" (click)="markMap()">
        <span style="display: flex;align-items: center;">
          <ion-icon name="globe"></ion-icon>
          &nbsp;
          <span style="font-size: small;">ตำแหน่งฉัน</span>
        </span>
      </div>
      <div style="float: right;margin: 5px;text-align: right;">
        <div class="badge badge-open" *ngIf="check_date_time().flag">เปิดอยู่</div>
        <div class="badge badge-close" *ngIf="!check_date_time().flag">ปิดอยู่</div>
        <small style="display: block;" *ngIf="check_date_time().flag">
          ถึง {{check_date_time().at}} น
        </small>
      </div>

      <ion-card-header>
        {{data.name}}
      </ion-card-header>
      <ion-card-subtitle>
        <div style="display: flex;justify-content: center;margin: 10px 0px;">
          <div class="avg-review" style="margin-bottom: -5px;">{{data.review.avg}} <ion-icon name="star"></ion-icon>
          </div>
          <span>
            ({{data.review.count}} รีวิว)
          </span>
        </div>
        {{data.address}}
      </ion-card-subtitle>
      <ion-card-content class="button_menu">
        <ion-row>
          <ion-col *ngIf="menu.delivery">
            <div class="btn" (click)="rounter_url('restaurant-menu')" *ngIf="check_date_time().flag">
              <img src="../../assets/icon/icon_menu/delivery-man.png" style="width: 40px;">
              <div>
                เดลิเวอร์รี่
              </div>
            </div>
            <div class="btn close" *ngIf="!check_date_time().flag">
              <img src="../../assets/icon/icon_menu/delivery-man.png" style="width: 40px;">
              <div>
                เดลิเวอร์รี่
              </div>
            </div>
          </ion-col>
          <ion-col *ngIf="menu.booking">
            <div class="btn" (click)="rounter_url('booking')" *ngIf="check_date_time().flag">
              <img src="../../assets/icon/icon_menu/chair.png" style="width: 40px;">
              <div>
                จองโต๊ะ
              </div>
            </div>
            <div class="btn close" *ngIf="!check_date_time().flag">
              <img src="../../assets/icon/icon_menu/chair.png" style="width: 40px;">
              <div>
                จองโต๊ะ
              </div>
            </div>
          </ion-col>
          <ion-col *ngIf="menu.queue">
            <div class="btn" (click)="rounter_url('queue')" *ngIf="check_date_time().flag">
              <img src="../../assets/icon/icon_menu/timer.png" style="width: 40px;">
              <div>
                จองคิวตอนนี้
              </div>
            </div>
            <div class="btn close" *ngIf="!check_date_time().flag">
              <img src="../../assets/icon/icon_menu/timer.png" style="width: 40px;">
              <div>
                จองคิวตอนนี้
              </div>
            </div>
          </ion-col>
          <ion-col *ngIf="menu.resive">
            <div class="btn" (click)="rounter_url('receive')" *ngIf="check_date_time().flag">
              <img src="../../assets/icon/icon_menu/serving-dish.png" style="width: 40px;">
              <div>
                มาที่ร้าน
              </div>
            </div>
            <div class="btn close" *ngIf="!check_date_time().flag">
              <img src="../../assets/icon/icon_menu/serving-dish.png" style="width: 40px;">
              <div>
                มาที่ร้าน
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-list class="list" lines="none">
          <ion-item class="icon_res">
            <ion-row>
              <ion-col (click)="tel()" style="cursor: pointer;">
                <div>
                  <!-- <img src="../../assets/img/call.png"> -->
                  <ion-icon color="primary" name="call"></ion-icon>
                </div>
                <span>โทร</span>
              </ion-col>
              <!-- <ion-col routerLink="delivery-order">
                <div>
                  <img src="../../assets/img/call.png">
                </div>
                <span>ที่สั่ง</span>
              </ion-col> -->
              <ion-col (click)="map()" style="cursor: pointer;" *ngIf="data.location">
                <div>
                  <!-- <img src="../../assets/img/gps.png"> -->
                  <ion-icon color="primary" name="location"></ion-icon>
                </div>
                <span>เส้นทาง</span>
              </ion-col>
              <ion-col style="opacity: 0.5;" *ngIf="!data.location">
                <div>
                  <!-- <img src="../../assets/img/gps.png"> -->
                  <ion-icon color="primary" name="location"></ion-icon>
                </div>
                <span>เส้นทาง</span>
              </ion-col>
              <ion-col (click)="share(select_opt)" style="cursor: pointer;">
                <div>
                  <!-- <img src="../../assets/img/share.png"> -->
                  <ion-icon color="primary" name="share-social"></ion-icon>
                </div>
                <span>แชร์</span>
              </ion-col>
            </ion-row>
          </ion-item>
          <!-- <ion-item>
            <ion-label>
              <ion-icon name="car"></ion-icon> มีที่จอดรถ
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>The Legend of Zelda</ion-label>
          </ion-item> -->

        </ion-list>
        <ion-select interface="action-sheet" mode="ios" style="display: none;" #select_opt [(ngModel)]="share_val"
          (ionChange)="changeShare()">
          <ion-select-option value="1" *ngIf="data.location">แชร์ตำแหน่งร้าน</ion-select-option>
          <ion-select-option value="2">แชร์ไป Line</ion-select-option>
          <ion-select-option value="3">แชร์ไป Facecbook</ion-select-option>
          <ion-select-option value="4">แชร์ไป Messenger </ion-select-option>
        </ion-select>

      </ion-card-content>
    </ion-card>
    <ion-card>
      <!-- <ion-list>
        <ion-item lines="full">
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label>
            Toggle Dark Theme
          </ion-label>
          <ion-toggle id="themeToggle" slot="end" (ionChange)="mode($event)"></ion-toggle>
        </ion-item>
      </ion-list> -->
      <div class="menu-btn-group">
        <span class="menu-btn" [ngClass]="{'menu-btn-active':select_tab==1}" (click)="select_tab=1">รีวิว</span>
        <span>/</span>
        <span class="menu-btn" [ngClass]="{'menu-btn-active':select_tab==2}" (click)="select_tab=2">รูปภาพ</span>
        <span>/</span>
        <span class="menu-btn" [ngClass]="{'menu-btn-active':select_tab==3}" (click)="select_tab=3">เกี่ยวกับร้าน</span>
      </div>
      <div class="border-line"></div>
      <app-review [user]="user" [hidden]="select_tab!=1"></app-review>
      <app-gallery [img_review_url]="data.img_review_url" [hidden]="select_tab!=2"></app-gallery>
      <app-more [res_data]="data" [hidden]="select_tab!=3"></app-more>
    </ion-card>
  </div>
</ion-content>