ion-content {
  background-image: linear-gradient(to bottom , #D2E9F7,#ffe9c16e);
  background-size: cover;
  background-position:center;
  @media (prefers-color-scheme: dark)  {
    background-image: linear-gradient(to bottom , #313756, #392950);
  }
  
}

.avatar {
  width: 150px;
  position: absolute;
  display: block;
  z-index: 1000;
  left: calc(50vw - 75px);
  margin-top: -100px;
  border-radius: 50%;
  border: solid 5px #fff;
  overflow: hidden;
}
.mainhome {
  max-width: 600px;
  margin: 0 auto;
}
.card-content-md,
.card-content-ios {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 16px;
  padding-inline-start: 8px;
  -webkit-padding-end: 16px;
  padding-inline-end: 8px;
}
.profile {
  // margin: 5px;
  margin-top: 200px;
  position: inherit;

  .btn {
    cursor: pointer;
    margin: 0 auto;
    width: 85px;
    background-color: #fafafa;
    border: solid 3px #292929;
    @media (prefers-color-scheme: dark) {
      background-color: #8A81A1;
      color: white;
      border: solid 3px #383241;
    }
    border-radius: 8px;
    padding: 6px 3px;
    text-align: center;
    div {
      font-size: 13px;
    }
  }
  .close{
    filter: grayscale(100%);
  }
  ion-card-header {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    @media (prefers-color-scheme: dark) {
      color: white;
    }
    padding-bottom: 0px;
  }
  ion-card-subtitle {
    text-align: center;
  }

  .btn:hover {
    color: #0283FD;
    background-color: #E3E3E3;
    @media (prefers-color-scheme: dark) {
      color: white;
      background-color: #5E586D;
    }
  }
  .close:hover {
    cursor: no-drop;
  }
}
.icon_res {
  ion-row {
    width: 100%;
    ion-col {
      text-align: center;
      div {
        border: solid 1px cadetblue;
        @media (prefers-color-scheme: dark) {
          border: solid 1px white;
        }
        width: 50px;
        margin: 0 auto;
        border-radius: 50%;
        padding: 10px;
        height: 50px;
        margin-bottom: 5px;
      }
    }
  }

  img {
    height: 25px;
  }
}
ion-list {
  ion-icon {
    font-size: 30px;
    margin-bottom: -8px;
    color: #3880ff;
  }
}
.details {
  margin-top: 0px;
  ion-label {
    font-size: 15px;
    --margin: 0px;
    margin: 0px;
  }
  img {
    width: 17px;
    margin-right: 10px;
    margin-bottom: -3px;
  }
  ion-item {
    --inner-padding-bottom: 0px;
    --inner-padding-top: 0px;
    --padding-bottom: 0px;
    --padding-top: 0px;
    // --inner-padding-bottom:0px;
    // --inner-padding-top:0px
    margin: 0px;
    padding: 0px;
  }
}
.picture {
  margin-top: 0px;
}
.border-line {
  border-bottom: solid 1px #a8a5af;
  margin: 0px 20px;
  margin-bottom: 20px;
}
.menu-btn-group {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  .menu-btn {
    cursor: pointer;
    margin: 0px 10px;
    font-weight: bold;
  }
  .menu-btn-active {
    color: #005cfd;
    background-color: #005cfd1f;
    @media (prefers-color-scheme: dark) {
      color: white;
      background-color: #31d0aa;
    }
    padding: 2px 7px;
    border-radius: 3px;
  }
}
.reviews {
  span {
    position: absolute;
    left: 105px;
    margin-top: -19px;
    color: #989898;
    font-size: 13px;
  }
  margin-top: 0px;
  ion-card-header {
    font-size: 23px;
    font-weight: 600;
    color: #111;
    text-align: center;
    // border-bottom: solid #eee 1px;
    div {
      ion-icon {
        font-size: 30px;
        color: rgb(180, 180, 180);
      }
    }
  }
  ion-list {
    border-top: solid #eee 1px;
  }
  ion-card-content {
    h2 {
      font-weight: 600;
    }
    h3 {
      ion-icon {
        color: rgb(182, 0, 0);
        font-size: 20px;
      }
    }
  }
}
.tabs {
  ion-col {
    padding: 0px;
  }
  padding: 0 8px;
}
.list {
  margin-top: 8px;
  border-top: solid #eee 1px;
  @media (prefers-color-scheme: dark) {
    border-top: solid white 1px;
  }
}
// .button_menu {
//     ion-button {
//         height: 50px;
//         font-weight: 600;
//         img {
//             width: 50px;
//             display: block;
//         }
//         div {
//             width: 100%;
//         }
//     }
// }
.imgs {
  width: 100%;
  .img {
    width: 100px;
    height: 70px;
    display: inline-block;
    margin: 3px;
    border-radius: 15px;
    overflow: hidden;
    border: solid 1px #eee;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    backdrop-filter: brightness(0.4);
  }
}

.avg-review {
  font-size: small;
  padding: 0px 5px;
  background-color: #eb445a;
  display: flex;
  align-items: center;
  margin: 0px 10px;
  border-radius: 5px;
  color: #eee;
  @media (prefers-color-scheme: dark) {
    background-color: #ed4b9e;
  }
}

.badge {
  text-align: center;
  padding: 3px 0px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: small;
  font-weight: bold;
  color: #eee;
}
.badge-open {
  background: #14a44e;
}
.badge-close {
  background: #eb445a;
  padding: 2px 8px;
}
@media (prefers-color-scheme: dark) {
  .badge-open {
    background: #31d0aa;
  }
  .badge-close {
    background: #ed4b9e;
  }
}
