<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-title>
      Delivery
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="mainhome" [hidden]="check_date_time().flag">
    <ion-badge color="danger" style="    width: auto;
     display: block;
     margin: 10px;
     font-size: 15px;
     padding: 16px;">ร้านยังไม่เปิด</ion-badge>
  </div>
  <!-- *ngIf="orderActive.status == 0 ||orderActive.status == 1 " -->
  <div class="mainhome" *ngIf="show==1 && cart.length > 0">
    <ion-card>
      <ion-card-header>
        รายการที่สั่ง
        <ion-button color="success" shape="round" class="add_btn" [routerLink]="'../../restaurant-menu'">เพิ่ม
        </ion-button>
      </ion-card-header>
      <ion-card-content class="item_list">
        <ion-list class="list_item">

          <ion-item *ngFor="let c of cart;let i = index">
            <ion-buttons slot="start">
              <ion-button color="primary" (click)="remove_count(c,i)">
                <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
              </ion-button>
              <ion-input readonly> {{c.count}}</ion-input>
              <ion-button color="primary" (click)="add_count(c)">
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-label>
              {{c.name}}
              <!-- <p *ngIf="c.p_by_w != '0' " style="color: #F88BB2;">( ราคาไม่รวม นน. )</p> -->
              <p ng-if="get_html(c)!='ไม่ทราบ'" [innerHTML]="get_html(c)"></p>
            </ion-label>
            <strong slot="end" *ngIf="c.p_by_w-0 == 1" style="color: #F88BB2;">ตามน้ำหนัก</strong>
            <strong slot="end" *ngIf="c.p_by_w-0 == 0">{{get_price(c)|number}}</strong>
          </ion-item>

          <ion-item>
            <ion-label style="font-weight: 600;">
              รวมค่าอาหาร
            </ion-label>
            <strong slot="end" *ngIf="!p_by_w">{{sum_all()|number}} บาท</strong>
            <strong slot="end" *ngIf="p_by_w">รอคำนวณ...</strong>
          </ion-item>
          <ion-list>
            <ion-item *ngFor="let ds of _list_ds;let i = index">
              <ion-checkbox slot="start" color="primary" (ionChange)="getService($event,i)">
              </ion-checkbox>
              <ion-label>{{ds.title}}</ion-label>
            </ion-item>
          </ion-list>
          <!-- <ion-item>
            <ion-checkbox id="needSpoon" slot="start" color="primary" [checked]="spoon" (ionChange)="getSpoon()">
            </ion-checkbox>
            <ion-label>ขอช้อนส้อม</ion-label>
          </ion-item> -->
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        สถานที่ส่ง
        <ion-button color="success" class="add_btn" shape="round" (click)="editMap()">แก้ไข</ion-button>
      </ion-card-header>
      <ion-card-content style="padding-left: 0px;">
        <ion-list>
          <ion-item style="text-align: center;" *ngIf="send_error">
            <ion-label color="danger">
              *** ยังไม่ได้เลือกสถานที่จัดส่งหรือเกินระยะจัดส่ง ***
            </ion-label>
          </ion-item>
          <ion-item *ngIf="!send_error">
            <ion-label>
              <ion-icon name="location-outline"></ion-icon> {{_location.local_name}}
              <div>
                <ion-icon name="bicycle-outline"></ion-icon> {{_location.text}}
              </div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>ค่าจัดส่ง<strong slot="end"
                style="float: right;">+{{_location.price?_location.price:0|number}}฿</strong>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label style="font-weight: bold;">ชื่อผู้รับ</ion-label>
            <ion-input placeholder="เพิ่มชื่อผู้รับ" [(ngModel)]="c_name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="font-weight: bold;">เบอร์ติดต่อ</ion-label>
            <ion-input placeholder="เพิ่มเบอร์ติดต่อ" [(ngModel)]="c_phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="font-weight: bold;">หมายเหตุ</ion-label>
            <ion-input placeholder="เพิ่มหมายเหตุ" [(ngModel)]="_location.newLocation"></ion-input>
          </ion-item>
        </ion-list>
        <ion-item *ngIf="p_by_w">
          <p
            style="text-align: center; height: 40px; width: 100%;padding: 5px 10px;margin: 5px;background-color: #F92672;color: white;border-radius: 10px;border: solid rgb(51, 51, 51) 1px;">
            *** รอร้านค้าชั่งน้ำหนัก ก่อนชำระเงิน ***
          </p>
        </ion-item>
      </ion-card-content>

    </ion-card>
    <ion-row>
      <ion-col size="4">
        <ion-button shape="round" size="large" color="dark" expand="full" routerLink="../../">ปิดออก</ion-button>
      </ion-col>
      <ion-col size="8">
        <ion-button shape="round" disabled="{{!check_date_time().flag}}" size="large" color="success" expand="full"
          *ngIf="!delivery.status" (click)="confirmOrder('cf')">ยืนยันคำสั่งซื้อ
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div class="" *ngIf="show==2">
    <div class="content">
      <div #mapElement class="map" [ngStyle]="{'height':rider_send? '300px':'0px'}">
      </div>

      <div style="height: 60px;" [hidden]="rider_send"></div>
      <div class="mainhome2">
        <ion-card *ngIf="delivery.status=='3'">
          <ion-card-content style="text-align: center;padding-top: 50px;">
            <img src="https://delivery.deltafood.me/assets/2738209.png" width="150">
          </ion-card-content>
          <ion-card-header class="ion-text-center">
            <ion-label>
              รอยืนยันรายการจากร้านอาหาร...
            </ion-label>
          </ion-card-header>
        </ion-card>
        <ion-card *ngIf="delivery.status=='5'">
          <ion-card-content style="text-align: center;padding-top: 50px;">
            <img src="https://delivery.deltafood.me/assets/check_bill.png" width="150">
          </ion-card-content>
          <ion-card-header class="ion-text-center">
            <ion-label style="color: red;">
              ร้านอาหารยืนยันรายการแล้ว
              <br>
              กรุณาชำระเงิน
            </ion-label>
          </ion-card-header>
        </ion-card>
        <ion-card *ngIf="delivery.status=='6'">
          <ion-card-content style="text-align: center;padding-top: 50px;">
            <img src="https://delivery.deltafood.me/assets/pay_money.png" width="150">
          </ion-card-content>
          <ion-card-header class="ion-text-center">
            <ion-label>
              รอยืนยันชำระเงินจากร้านค้า
            </ion-label>
          </ion-card-header>
        </ion-card>
        <ion-card *ngIf="delivery.status=='2'">
          <ion-card-content style="text-align: center;padding-top: 50px;">
            <img src="https://delivery.deltafood.me/assets/2654572.png" width="150">
          </ion-card-content>
          <ion-card-header class="ion-text-center">
            <ion-label>
              ยืนยันชำระเงินแล้ว
              <br>
              รออีก {{delivery.q?delivery.q:'-'}} คิว
            </ion-label>
          </ion-card-header>
        </ion-card>
        <ion-card *ngIf="delivery.status=='4'">
          <ion-card-content style="text-align: center;padding-top: 50px;">
            <img src="https://delivery.deltafood.me/assets/651092.png" width="150">
          </ion-card-content>
          <ion-card-header class="ion-text-center">
            <ion-label>
              กำลังเดินทาง...
            </ion-label>
          </ion-card-header>
        </ion-card>
        <ion-card *ngIf="delivery.status=='1'">
          <ion-card-content style="text-align: center;padding-top: 50px;">
            <img src="https://delivery.deltafood.me/assets/190411.png" width="150">
          </ion-card-content>
          <ion-card-header class="ion-text-center">
            <ion-label>
              ส่งสำเร็จ
            </ion-label>
          </ion-card-header>
        </ion-card>
        <ion-card *ngIf="delivery.status=='0'">
          <ion-card-content style="text-align: center;padding-top: 50px;">
            <img src="https://delivery.deltafood.me/assets/753345.png" width="150">
          </ion-card-content>
          <ion-card-header class="ion-text-center">
            <ion-label>
              ยกเลิก
            </ion-label>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-card-header>
            รายการที่สั่ง
            <ion-label style="float: right;" color="primary">
              # {{delivery.order_id_res}}
            </ion-label>
          </ion-card-header>
          <ion-card-content class="item_list">
            <ion-list class="list_item">
              <ion-item *ngFor="let c of delivery.items;let i = index">
                <ion-label>
                  {{c.count}} X {{c.name['th']}} <ion-badge color="primary" *ngIf="c.status=='1'">กำลังทำ</ion-badge>
                  <ion-badge color="success" *ngIf="c.status=='2'">เสร็จแล้ว</ion-badge>
                  <ion-badge color="danger" *ngIf="c.status=='4'">หมด</ion-badge>
                  <!-- <p *ngIf="c.p_by_w != '0' " style="color: #F88BB2;">(ตามน้ำหนัก)</p> -->
                  <p [innerHTML]="get_html(c)"></p>
                </ion-label>
                <strong *ngIf="c.p_by_w == '1' &&delivery.status=='3'" slot="end">ตามน้ำหนัก</strong>
                <strong *ngIf="!(c.p_by_w == '1' &&delivery.status=='3')" slot="end">{{get_price(c)|number}}</strong>
              </ion-item>
              <ion-item>
                <ion-label style="font-weight: 600;">รวมค่าอาหาร</ion-label>
                <strong slot="end" *ngIf="!(p_by_w&&delivery.status=='3')">
                  <!-- {{sum_all()|number}} -->
                  {{totalFood(delivery.items)|number}}
                  บาท
                </strong>
                <strong slot="end" *ngIf="p_by_w&&delivery.status=='3'">ร้านกำลังคำนวณ...</strong>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content class="item_list">
            <ion-list class="list_item">
              <ion-item>
                <ion-label>
                  ชื่อผู้รับ
                </ion-label>
                <strong slot="end">{{delivery.delivery_contact.c_name}}</strong>
              </ion-item>
              <ion-item>
                <ion-label>
                  ที่อยู่
                </ion-label>
                <span slot="end" class="ion-text-right" style="font-size: 12px;">
                  <ion-label color="primary">
                    ติดต่อ : {{delivery.delivery_contact.c_phone}}
                  </ion-label>
                  {{delivery.address.address}}
                  <br />
                  <strong style="font-size: 15px;">
                    {{delivery.address.distance}} {{delivery.address.duration}}
                  </strong>
                </span>
              </ion-item>
              <ion-item>
                <ion-label>
                  คอมเม้น
                </ion-label>
                <strong slot="end">{{delivery.comment}}</strong>
              </ion-item>
              <ion-item>
                <ion-label>
                  ขอรับบริการจากทางร้าน
                  <div>
                    <ul *ngFor="let ds of delivery.delivery_service">
                      <li>{{ds}}</li>
                    </ul>
                  </div>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label style="display: flex;">
                  ค่าจัดส่ง
                  &nbsp;
                </ion-label>
                <strong slot="end">{{delivery.price_send|number}} บาท</strong>
              </ion-item>
              <ion-item *ngFor="let charge of delivery.charge; let i=index">
                <ion-label style="font-weight: 100;">{{charge.name}} </ion-label>
                <span slot="end" *ngIf="p_by_w">{{charge.value|number}} บาท</span>
                <span slot="end" *ngIf="!p_by_w">{{charge.type}}{{charge.value|number}} บาท</span>
              </ion-item>
              <ion-item>
                <ion-label>
                  ยอดเงินที่ต้องชำระ
                </ion-label>
                <strong *ngIf="!(p_by_w&&delivery.status=='3')">
                  <!-- {{totalDelivery(delivery.items,delivery.price_send)|number}} -->
                  {{totalDelivery(totalFood(delivery.items),delivery.price_send)|number}}
                  บาท
                </strong>
                <strong *ngIf="p_by_w&&delivery.status=='3'"> ร้านกำลังคำนวณ...</strong>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="delivery.status=='5'">
          <ion-card-content>
            <ion-button shape="round" [disabled]="!check_date_time().flag" size="small"
              style="width: 100px;float: right;" color="danger" expand="block" *ngIf="delivery.status == '5'"
              (click)="cancelOrder()">ยกเลิกออเดอร์
            </ion-button>
            <ion-list>
              <ion-radio-group mode="md" value="">
                <ion-list-header>
                  <ion-label color="primary">การชำระเงิน</ion-label>
                </ion-list-header>
                <!-- <ion-item
                  *ngIf="(data.chanel_transfer[0].id == 1 && data.chanel_transfer[0].checked == 'true') || data.chanel_transfer == [] || (data.chanel_transfer[0].checked == 'false' && data.chanel_transfer[1].checked == 'false')">
                  <ion-label>ชำระปลายทาง</ion-label>
                  <ion-radio id="destination" slot="start" value="0" (click)="paymentSelect(0)"></ion-radio>
                </ion-item>
                <ion-item id="transfer"
                  *ngIf="(data.chanel_transfer[1].id == 2 && data.chanel_transfer[1].checked == 'true') || data.chanel_transfer == [] || (data.chanel_transfer[0].checked == 'false' && data.chanel_transfer[1].checked == 'false')">
                  <ion-label>โอนผ่านบัญชี</ion-label>
                  <ion-radio slot="start" (click)="paymentSelect(1)" value="1"></ion-radio>
                </ion-item> -->
                <ion-item
                  *ngIf="data.send_options.destination || ( !data.send_options.destination && !data.send_options.transfer)">
                  <ion-label>ชำระปลายทาง</ion-label>
                  <ion-radio id="destination" slot="start" value="0" (click)="paymentSelect(0)"></ion-radio>
                </ion-item>
                <ion-item id="transfer"
                  *ngIf="data.send_options.transfer || ( !data.send_options.destination && !data.send_options.transfer)">
                  <ion-label>โอนผ่านบัญชี</ion-label>
                  <ion-radio slot="start" (click)="paymentSelect(1)" value="1"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
            <ion-list *ngIf="pay.type==1 && bank[0].id_pay_type != 0">
              <ion-radio-group mode="md" [value]="bank[0].id_pay_type" (ionChange)="bankSelect($event)">
                <ion-list-header>
                  <ion-label color="primary">เลือกธนาคารที่จะโอน</ion-label>
                </ion-list-header>
                <ion-item *ngFor="let b of bank">
                  <ion-label>
                    <strong style="display: flex;justify-content: space-between;font-size: smaller;">
                      เลขที่บัญชี : {{b.acount_number}}
                      <ion-badge color="primary" style="position: relative;z-index: 999;cursor: copy;"
                        (click)="copy(b.acount_number)">คัดลอก</ion-badge>
                    </strong>
                    <div>ธนาคาร : {{b.bank}} </div>
                    <p>ชื่อบัญชี : {{b.acount_name}}</p>
                  </ion-label>
                  <ion-radio slot="start" value="{{b.id_pay_type}}"></ion-radio>
                </ion-item>
              </ion-radio-group>
              <ion-item *ngIf="src.path != ''" style="pad: 15px 0px;">
                <ion-img [src]="src.path"></ion-img>
              </ion-item>
              <ion-item class="ion-justify-content-center  ion-text-center" style="margin-top: 10px;">
                <input type="file" #fileSlip accept="image/*" (change)="changeFile($event)" hidden>
                <ion-button color="primary" size="default" shape="round" style="margin: 0 auto;"
                  (click)="fileSlip.click()">
                  แนบสลิป</ion-button>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="pay.type==1 && bank[0].id_pay_type == 0">
              <ion-item>
                <ion-label color="danger" style="text-align: center;">
                  ร้านอาหารยังไม่เพิ่มบัญชีธนาคารในการโอน
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>

        </ion-card>
        <ion-row>
          <ion-col size="4">
            <ion-button shape="round" size="large" color="dark" expand="full" routerLink="../../">ปิดออก</ion-button>
          </ion-col>
          <ion-col size="8">
            <ion-button shape="round" disabled="{{!check_date_time().flag}}" size="large" color="success" expand="full"
              *ngIf="delivery.status == undefined" (click)="confirmOrder('cf')">ยืนยันคำสั่งซื้อ
            </ion-button>
            <ion-button shape="round" [disabled]="!check_date_time().flag || !status_sp_btn" size="large"
              color="success" expand="full" *ngIf="delivery.status == '5'" (click)="confirmOrder('pm')">
              ยืนยันการชำระเงิน
            </ion-button>
            <ion-button shape="round" size="small" style="width: 100px;float: right;" color="danger" expand="block"
              *ngIf="delivery.status == '3'" (click)="cancelOrder()">ยกเลิก
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div *ngIf="show==1 && cart.length < 1">
    <div class="mainhome">
      <ion-card>
        <ion-card-content>
          <div style="text-align: center;padding: 40px 0px;">
            <div style="margin-bottom: 25px">
              <img src="../../assets/img/serving-dish-null.png" width="150px">
            </div>
            <label style="font-size: x-large;">ไม่มีรายการอาหารที่สั่ง</label>
            <ion-button shape="round" size="large" color="dark" expand="full" routerLink="../../">ย้อนกลับ</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>