<ion-content style="--padding-top: 20px;" scroll-x="true">
  <div class="content">
    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="50" pullMax="100" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div #mapElement class="map">
      <!-- <img src="https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_365,h_650/https://adamblog.co/wp-content/uploads/2019/12/google-map-location-sharling-01.png" width="200"> -->
    </div>
    <ion-card style="margin-top: 350px;">
      <ion-card-header>
        <ion-card-subtitle>
          เวลาจัดส่งโดยประมาณ
          <div style="float:right">
            <img src="https://storage.googleapis.com/proudcity/sanrafaelcaemployees/uploads/2019/10/Phone-Icon.jpg" width="50">
          </div>
        </ion-card-subtitle>
        <ion-card-title *ngIf="order.order_data.status == 4">{{time}}</ion-card-title>
        <ion-card-title *ngIf="order.order_data.status != 4" style="padding-left: 20px;">-</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>
              สถานะ :
              <ion-text color="primary" *ngIf="order.order_data.status == 3">รอคิว</ion-text>
              <ion-text color="primary" *ngIf="order.order_data.status == 2">กำลังทำ</ion-text>
              <ion-text color="primary" *ngIf="order.order_data.status == 4">กำลังส่ง...</ion-text>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="order.order_data.status == 4">
            <ion-label>
              ผู้ส่ง :
              <ion-text>
                ประยุทธ์ จันทร์โอชา
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-button expand="block" (click)="back()">
          ย้อนกลับ
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          รายการอาหาร
          <div style="margin-top: 5px;float: right;">
            <ion-label>
              <ion-checkbox [checked]="false" disabled></ion-checkbox> ช้อนซ้อม
            </ion-label>
          </div>
        </ion-card-subtitle>
        <ion-card-title>
          รวมทั้งสิ้น <ion-text color="primary">
            {{totalAll}} ฿
          </ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list mode="ios">
          <ion-item button (click)="deliveryItemDetail(od)" *ngFor="let od of order.qryOrderDetail">
            <ion-label>{{od.name.th}}</ion-label>
            <ion-text slot="end">{{od.count}} x {{priceItemTotal(od)}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label color="primary">ค่าส่ง</ion-label>
            <ion-text slot="end">{{order.order_data.price_send}}</ion-text>
          </ion-item>
        </ion-list>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          ร้านอาหาร
          <div style="float: right;">
            <img src="https://storage.googleapis.com/proudcity/sanrafaelcaemployees/uploads/2019/10/Phone-Icon.jpg"
              width="25">
          </div>
        </ion-card-subtitle>
        <ion-card-title>{{order.restaurant.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{order.restaurant.address}}
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>