.mainhome {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  // height: 100%;
  // box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
ion-content {
  --background: #efefef;
  @media (prefers-color-scheme: dark) {
    --background: linear-gradient(to bottom, #313756, #392950);
  }
}

#datetime-picker {
  margin-top: 10px;
  padding: 5px 15px;
  #body {
    border-bottom: solid 2px #005cfd;
    @media (prefers-color-scheme: dark) {
      border-bottom: solid 2px #A8A5AF;
    }
  }
}

#no-list {
  display: flex;
  align-content: stretch;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 50px;
}
