<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar mode="ios" color="primary">
      <ion-title>
        ประวัติเดลิเวอร์รี่
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="mainhome">
    <ion-card>
      <div id="datetime-picker">
        <div id="body">
          <ion-item lines="none">
            <ion-label>ค้นหาจากวันที่</ion-label>
            <ion-datetime value="2021-01-01" min="2020-01" max="2090" displayFormat="DD MMM YYYY" moed="ios"
              [(ngModel)]="dS"
              monthShortNames="ม.ค., ก.พ., มี.ค., เม.ย., พ.ค., มิ.ย., ก.ค., ส.ค., ก.ย., ต.ค., พ.ย., ธ.ค."
              (ionChange)="onBydate()">
            </ion-datetime>
          </ion-item>
          <ion-item lines="none">
            <ion-label>ถึงวันที่</ion-label>
            <ion-datetime value="2021-01-01" min="2020-01" max="2090" displayFormat="DD MMM YYYY" moed="ios"
              [(ngModel)]="dE"
              monthShortNames="ม.ค., ก.พ., มี.ค., เม.ย., พ.ค., มิ.ย., ก.ค., ส.ค., ก.ย., ต.ค., พ.ย., ธ.ค."
              (ionChange)="onBydate()">
            </ion-datetime>
          </ion-item>
        </div>
      </div>
      <ion-list *ngIf="history_delivery.length >= 1">
        <ion-item *ngFor="let hd of history_delivery" (click)="seeMore(hd)">
          <ion-label>
            #{{hd.order_id_res}}
            <br>
            <ion-badge color="danger" *ngIf="hd.status == 0">ยกเลิก</ion-badge>
            <ion-badge color="success" *ngIf="hd.status == 1">เสร็จสิ้น</ion-badge>
            <ion-badge color="medium" *ngIf="hd.status == 2">กำลังทำ</ion-badge>
            <ion-badge color="light" *ngIf="hd.status == 3">รอคิว</ion-badge>
            <ion-badge color="warning" *ngIf="hd.status == 4">กำลังออกส่ง</ion-badge>
          </ion-label>
          <span slot="end" style="text-align: right; float: right;">
            <span style="font-size: 14px;">
              {{hd.time_start|date:'MM/dd/yyyy'}} {{hd.time_start|date:'HH:mm'}} น.
            </span>
            <br>
            <span>
              {{hd.sum_price|number}} ฿
            </span>
          </span>
        </ion-item>
      </ion-list>
      <div id="no-list" *ngIf="history_delivery.length < 1" >
        <h4>ยังไม่รายการในวันเวลาที่เลือก</h4>
      </div>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-card>
  </div>
</ion-content>