.content {
  max-width: 600px;
  margin: 0 auto;
}

#check-in-order {
  margin-top: 10px;
  padding: 10px;
}

#get_spoon {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: -25px;
}

.slip_btn{
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

#list-order {
  margin-top: 10px;
  min-height: 40vh;
  padding: 10px;
}
#card_list_menu {
  height: 475px;
  background-color: #ffffff;
  min-height: calc(100vh - 500px);
  border-radius: 5px;
  margin: 35px 10px;
  box-shadow: 0px 0px 5px 2px #90909024;
  #list_menu {
    height: 400px;
    overflow: auto;
    position: relative;
    margin: 13px 20px;
    box-shadow: inset 0px 2px 5px 3px #eeeeee5e;
    top: 25px;
    .menu {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: solid 1px #78787870;
      margin: 0px 10px;
      .menu-img {
        padding: 15px;
        .img {
          border-radius: 5px;
          background-size: cover;
          width: 100px;
          height: 100px;
          background-position: center;
        }
      }
      .menu-detail {
        font-size: small;
        font-weight: bolder;
        width: 79%;
        .menu_name {
          font-size: large;
        }
        .menu-text {
          margin: 10px 0px;
        }
        .calc-count {
          display: flex;
          align-items: center;
          .btn-count {
            width: fit-content;
            padding: 0px 10px;
            border-radius: 3px;
            color: white;
            cursor: pointer;
            background-color: #1469ff;
          }
          .count-food {
            padding: 0px 15px;
            font-size: large;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  margin: 0px 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c82fd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #005cfd;
}
