<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['../../restaurant-menu']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        <ion-label style="font-size: small;">เลือกเมนู</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>ตะกร้าสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div style="margin: 0px 10px;">
      <div id="card_list_menu">
        <div id="list_menu">
          <div class="menu" *ngFor="let c of _cart;let i = index">
            <div class="menu-img">
              <div class="img" style="background-image: url('{{c.pic_id}}');">
              </div>
            </div>
            <div class="menu-detail">
              <div class="calc-count">
                <div class="btn-count btn-add" (click)="btnCalc(c,i,'add')">+</div>
                <label class="count-food">{{c.countPick}}</label>
                <div class="btn-count btn-del" (click)="btnCalc(c,i,'del')">-</div>
              </div>
              <div class="menu-text menu_name">
                <label>{{c.name}}</label>
              </div>
              <div class="menu-text">
                <label>Detail...</label>
              </div>
            </div>
            <div style="width: 20%;text-align: end;">
              <div class="menu-text">
                <label>{{sumPriceByRec(c)}} ฿</label>
              </div>
            </div>
          </div>


          <br>
        </div>
        <div id="get_spoon">
          <ion-radio-group [(ngModel)]="_getSpoon" style="display:flex;align-items: center;">
            <ion-radio slot="start" [value]="true"></ion-radio>
            &nbsp;
            <ion-label class="cursor-pointer" (click)="_getSpoon = true">ขอช้อนซ้อม</ion-label>
            &nbsp;
            <ion-radio slot="start" [value]="false"></ion-radio>
            &nbsp;
            <ion-label class="cursor-pointer" (click)="_getSpoon = false">ไม่ล่ะ, ขอบคุณ</ion-label>
          </ion-radio-group>
        </div>
      </div>



      <ion-card>
        <ion-card-header style="display: flex;justify-content: flex-end;">
          <ion-button color="success" class="add_btn" shape="round" (click)="editMap()">แก้ไข</ion-button>
          <!-- <ion-button color="success" class="add_btn" shape="round" (click)="locatioin()">แก้ไข</ion-button> -->
        </ion-card-header>
        <ion-card-content>
          <div style="border-bottom: solid 1px;padding: 10px 0px;margin-bottom: 10px;">
            <ion-label>
              <ion-icon name="location-outline" style="font-weight: bolder;"></ion-icon>
              {{_location.local_name}}
              <div>
                <ion-icon name="bicycle-outline" style="font-weight: bolder;"></ion-icon>
                {{_location.text}}
              </div>
            </ion-label>
          </div>
          <div style="margin-bottom: 20px;">
            <div style="border-bottom: solid 1px;padding: 10px 0px;margin-bottom: 10px;">
              <ion-label style="    font-weight: bolder;">จุดสังเกตุ</ion-label>
              <ion-input placeholder="เพิ่มจุดสังเกตุ" [(ngModel)]="_location.newLocation"></ion-input>
              <!-- <ion-input placeholder="เพิ่มจุดสังเกตุ" [(ngModel)]="newLocation"></ion-input> -->
            </div>
            <div>
              <div>
                <ion-label style="font-weight: bolder;">ค่าจัดส่ง<strong slot="end" style="float: right;">+
                    {{_location.price|number}}
                    ฿
                  </strong>
                </ion-label>
              </div>
              <div>
                <ion-label style="font-weight: bolder;">ค่าอาหารทั้งหมด<strong slot="end" style="float: right;">
                    {{totalAllPrice('foods')|number}}
                    ฿
                  </strong>
                </ion-label>
              </div>
              <div>
                <ion-label style="font-weight: bolder;">รวมทั้งสิ้น<strong slot="end" style="float: right;">
                    {{totalAllPrice('all')|number}}
                    ฿
                  </strong>
                </ion-label>
              </div>
            </div>
          </div>

        </ion-card-content>

      </ion-card>

      <ion-card>
        <ion-card-header>
          <div>
            <ion-label style="font-weight: bolder;">ยอดที่ต้องชำระ<strong slot="end" style="float: right;">
                {{totalAllPrice('all')|number}}
                ฿
              </strong>
            </ion-label>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-select placeholder="เลือกการชำระ" [(ngModel)]="_transferType" (ionChange)="typeTransfer($event)"
            style="background-color: #F8F8F8;padding-right: 10px;">
            <ion-select-option [value]="0">ชำระปลายทาง</ion-select-option>
            <ion-select-option [value]="1">ชำระโอนจ่าย</ion-select-option>
          </ion-select>
          <ion-list *ngIf="_stateTranfer">
            <ion-item style="width: -webkit-fill-available;text-align: center;" *ngIf="_restaurant.bank.length < 1">
              <label>ร้านอาหารยังไม่ได้เพิ่มบัญชีธนาคาร</label>
            </ion-item>
            <ion-radio-group [(ngModel)]="_transferBank" *ngIf="_restaurant.bank.length > 0">
              <ion-item *ngFor="let b of _restaurant.bank">
                <p>
                  {{b.bank}}
                  <br>
                  {{b.acount_name}}
                  <br>
                  {{b.acount_number}}
                </p>
                <ion-radio slot="start" value="{{b.id_pay_type}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <div *ngIf="_stateTranfer">
            <div style="padding: 15px 0px;display: flex;justify-content: center;">
              <img [src]="src.path">
            </div>
            <input type="file" #fileSlip accept="image/*" (change)="changeFile($event)" hidden>
            <ion-button color="success" class="slip_btn" shape="round" (click)="fileSlip.click()">แนบหลักฐานการโอน</ion-button>
          </div>
        </ion-card-content>
      </ion-card>

      <div id="check-in-order">
        <div>

        </div>
        <ion-button style="width: 100%;" (click)="confirmOrder()">ไปที่การชำระ</ion-button>
      </div>


    </div>

  </div>
</ion-content>