<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6" size-lg="4" size-md="4" size-sm="4" col-xs="3" col-xs="12" *ngFor="let item of items"
      (click)="select_item(item)">
      <ion-card (click)="select_food(item)">
        <img src="{{item.pic_id}}" [src]="item.pic_id">
        <ion-badge color="success" *ngIf="item.price-0>0&&item.is_buffet-0==0&&item.status-0!=0">฿ {{item.price}}
        </ion-badge>
        <ion-badge *ngIf="item.price-0==0&&item.is_buffet-0==0&&item.status-0!=0">ฟรี</ion-badge>
        <ion-badge color="tertiary" *ngIf="item.is_buffet-0==1&&item.status-0!=0">บุปเฟต์</ion-badge>
        <ion-badge color="danger" *ngIf="item.status-0==0">หมด</ion-badge>
        <ion-badge color="danger" style="margin-top: 30px; margin-right: 5px;" *ngIf="count_cart(item.f_id)!=0">
          {{count_cart(item.f_id)}}</ion-badge>
        <ion-card-content>
          {{item.name}}
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-content>
<ion-footer *ngIf="cart_count!=0" (click)="show_cart()">
  <ion-toolbar color="success">
    <ion-title>
      ที่เลือกไว้ {{cart_count}} รายการ
    </ion-title>
    <ion-button (click)="show_cart()" color="light" slot="end" shape="round" fill="outline">ถัดไป <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>