ion-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
}
ion-card {
    margin: 0px;
    padding: 0px;
    height: 95%;
    ion-card-content {
        padding: 2px;
        position: absolute;
        bottom: 0px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        text-align: center;
    }
}
ion-content {
    --ion-background-color: #eff0f5;
}
