.content {
    max-width: 600px;
    margin: 0 auto;
    .close{
        // text-align: right;
        text-align: right;
        padding: 5px;
        ion-icon{
            cursor: pointer;
        }
    }
    .status{
        font-size: small;
    }
}
