<ion-content>
  <div class="content">
    <ion-card>
      <div class="close">
        <ion-icon name="close-outline" id="icon_close" (click)="close()"></ion-icon>
      </div>
      <ion-card-header style="padding-top: 0px;">
        <ion-card-title color="primary">ออร์เดอร์ที่สั่ง</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list mode="ios" *ngIf="order">
          <ion-item button (click)="routerRider(o)" *ngFor="let o of order">
            <ion-label>Order : #{{o.order_data.order_id_res}}</ion-label>
            <ion-text slot="end" class="status" *ngIf="o.order_data.status == 3">รอคิว</ion-text>
            <ion-text slot="end" class="status" *ngIf="o.order_data.status == 2">กำลังทำ</ion-text>
            <ion-text slot="end" class="status" *ngIf="o.order_data.status == 4">กำลังส่ง...</ion-text>
          </ion-item>
        </ion-list>
        <div style="text-align: center;padding: 10px;" *ngIf="!order">
          <ion-label>ไม่มีออร์เดอร์ที่สั่ง</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
