<ion-content style="--background: #efefef;">
  <div class="content">
    <div>
      <ion-card class="booking">
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>ID การจอง</ion-label>
              <ion-label color="primary" class="ion-text-right text-bold">#{{data.booking_id}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>วันที่</ion-label>
              <ion-label class="ion-text-right text-bold">{{data.date}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>เวลา</ion-label>
              <ion-label class="ion-text-right text-bold">{{data.time}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>จำนวนที่นั่ง</ion-label>
              <ion-label class="ion-text-right text-bold">{{data.people}} ท่าน</ion-label>

            </ion-item>
            <ion-item>
              <ion-label>ประเภท</ion-label>
              <ion-label class="ion-text-right text-bold">{{data.zone}} </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>หมายเหตุ</ion-label>
              <ion-label class="ion-text-right ">{{data.note}} </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>มัดจำการจอง</ion-label>
              <strong>{{data.total}} บาท</strong>
            </ion-item>

          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          รายการที่สั่ง

        </ion-card-header>
        <ion-card-content class="item_list">
          <ion-list class="list_item">
            <ion-item *ngFor="let c of data.foods;let i = index">
              <ion-label>
                {{c.name}} <ion-badge color="primary" *ngIf="c.status=='1'">กำลังทำ</ion-badge>            
                <p [innerHTML]="get_html(c)"></p>
              </ion-label>
              <strong slot="end">{{get_price(c)|number}}</strong>
            </ion-item>

          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    <!-- <ion-card>
      <ion-card-content>
        <label style="font-size: large; padding: 5px 5px;color: black;font-weight: 600;">อาหารที่สั่ง</label>
        <ion-list style="padding: 0px 0px 0px 5px;">
          <ion-item>
            <ion-label>Awesome Label</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card> -->
  </div>
</ion-content>