<ion-card-header>
  <ion-card-title>
    เวลาเปิดร้าน
  </ion-card-title>

</ion-card-header>
<ion-card-content>
  <!-- <ion-item-group *ngFor="let open of res_data.open_time">
    <ion-item-divider>
      <ion-label color="primary">{{open.text}}</ion-label>
      <p *ngFor="let time of open.time" style="text-align: right;">{{time.time_start}} - {{time.time_end}}</p>
    </ion-item-divider>
  
    <ion-item *ngFor="let time of open.time" style="text-align: right;">
      <ion-label >{{time.time_start}} - {{time.time_end}}</ion-label>
    </ion-item>
  </ion-item-group> -->

  <ion-item *ngFor="let open of res_data.open_time?res_data.open_time:[]">
    <ion-label>{{open.text}} <p class="time" *ngFor="let time of open.time" ><strong>{{time.time_start}} - {{time.time_end}}</strong></p></ion-label>
  </ion-item>
  <!-- <ion-item>
    <ion-label>วันจันทร์ <strong style="float: right;">11.00 - 22.00</strong></ion-label>
  </ion-item> -->
</ion-card-content>
<ion-card-header>
  <ion-card-title>
    วันหยุดร้าน
  </ion-card-title>

</ion-card-header>
<ion-card-content>
  <ion-item *ngFor="let close of res_data.holiday?res_data.holiday:[]">
    <ion-label>{{close.text}} <p style="float: right;"><strong>{{close.date}}</strong></p></ion-label>
  </ion-item>
  <!-- <ion-item>
    <ion-label>วันจันทร์ <strong style="float: right;">11.00 - 22.00</strong></ion-label>
  </ion-item> -->
</ion-card-content>
<ion-card-header>
  <ion-card-title>
    บริการจากทางร้าน
  </ion-card-title>

</ion-card-header>
<ion-card-content>
  <ion-item *ngFor="let service of res_data.res_service">
    <ion-label><img src="https://static2.wongnai.com/static2/images/23ZYExV.png" width="20">&nbsp;<strong>{{service.res_s_name}}</strong>
    </ion-label>
  </ion-item>
  <!-- <ion-item>
    <ion-label><img src="https://static2.wongnai.com/static2/images/23ZYExV.png"> <strong>free wifi</strong>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label><img src="https://static2.wongnai.com/static2/images/23ZYExV.png"> <strong>เหมาะสำหรับเด็ก</strong>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label><img src="https://static2.wongnai.com/static2/images/23ZYExV.png"> <strong>ที่จอดรถ</strong>
    </ion-label>
  </ion-item> -->
</ion-card-content>
<!-- <ion-card-header>
  <ion-card-title>
    จำนวนโต๊ะ
  </ion-card-title>

</ion-card-header>
<ion-card-content>
  <ion-item>
    <ion-label><strong>40 โต๊ะ 2 โซน</strong>
    </ion-label>
  </ion-item>

</ion-card-content> -->