<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="close(null,false)">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ที่อยู่ในการจัดส่ง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pos-find">
    <div class="find-map" *ngIf="!posReady">
      <img src="assets/gif/find-location.gif" *ngIf="!textPosInvalid">
      <img src="assets/icon/icon_map/warning.png" width="60px" style="margin-bottom: 60px;" *ngIf="textPosInvalid">
      <label *ngIf="!textPosInvalid">
        กำลังค้นหาตำแหน่งของคุณ...
      </label>
      <div style="text-align: center;padding: 0px 10px;" *ngIf="textPosInvalid">
        <label>
          โปรดตวจสอบให้แน่ใจว่าท่านได้อนุญาตสิทธิการเข้าถึงตำแหน่ง GPS ของท่าน !
        </label>
      </div>
    </div>
  </div>

  <div #mapElement class="map" style="height: 100%; width: 100%;">
  </div>
  <div class="maker" *ngIf="posReady">
    <ion-button style="width: 100px;" color="primary" (click)="mylocation()">ตำแหน่งฉัน</ion-button>
    <ion-button style="width: 150px;" color="success" (click)="makerlocation()">เลือกตำแหน่งนี้</ion-button>
  </div>
</ion-content>