.maker 
{
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pos-find
{
  position: absolute;
  z-index: 99;
  width: -webkit-fill-available;
  top: 25vh;
  .find-map
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    label
    {
      position: relative;
      bottom:45px;
    }
  }
}

