#content {
  padding: 5px;
  #close {
    text-align: right;
    ion-icon {
      cursor: pointer;
    }
  }
  #form {
    padding: 0px 10px;
    #row_img {
      padding-bottom: 10px;
      border-bottom: solid 2px #f5f5f5;
      .cancel-img {
        right: 5px;
        position: absolute;
        cursor: pointer;
      }
      #img_defult {
        cursor: pointer;
        // box-shadow: 2px 2px 0px 1px #cccccc;
      }
    }
    #row_comment {
      margin-top: 10px;
    }
    .star {
      color: #b0aead;
      font-size: 50px;
      cursor: pointer;
    }
    .star-active {
      color: rgb(255, 217, 0);
    }
    ion-textarea {
      --background: #f5f5f5;
      @media (prefers-color-scheme: dark) {
        --background: #27262C;
      }
      border-radius: 10px;
    }
  }
}
