<ion-content>
  <div id="content">
    <div id="close">
      <ion-icon style="font-size: 50px;" name="close-outline" (click)="close()"></ion-icon>
    </div>
    <div id="form">
      <ion-row>
        <ion-col style="text-align: center;
      font-size: 30px;
      font-weight: bold;">
          ให้คะแนนร้านนี้
        </ion-col>
      </ion-row>
      <ion-row id="row_comment">
        <ion-col size="12">
          <div class="ion-text-center">

            <ion-icon name="star" class="star {{starObjClass[0]}}" (click)="setStar(1)"></ion-icon>
            <ion-icon name="star" class="star {{starObjClass[1]}}" (click)="setStar(2)"></ion-icon>
            <ion-icon name="star" class="star {{starObjClass[2]}}" (click)="setStar(3)"></ion-icon>
            <ion-icon name="star" class="star {{starObjClass[3]}}" (click)="setStar(4)"></ion-icon>
            <ion-icon name="star" class="star {{starObjClass[4]}}" (click)="setStar(5)"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-label>เสนอความคิดเห็น : </ion-label>
          <div>
            <ion-textarea rows="3" [(ngModel)]="comment"></ion-textarea>
          </div>
        </ion-col>
      </ion-row>
      <ion-row id="row_img">
        <ion-col size="2" *ngFor="let img of src;let i = index">
          <ion-badge color="danger" class="cancel-img">
            <ion-icon name="close-outline" (click)="cancelImg(i)"></ion-icon>
          </ion-badge>
          <ion-img [src]="img.path">
          </ion-img>
        </ion-col>
        <ion-col size="2">
          <input type="file" #uploadFile (change)="changeFile($event)" accept="image/*" hidden>
          <!-- <ion-icon name="image" id="img_defult" (click)="checkUploadFile(uploadFile)"></ion-icon> -->
          <ion-img id="img_defult" src="https://cdn-icons-png.flaticon.com/512/1088/1088537.png"
            (click)="checkUploadFile(uploadFile)" style="background-color: white;padding: 2px;">
          </ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="onPost()" expand="full" dis fill="solid" shape="round" mode="ios">
            โพสต์รีวิว
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>