<ion-content>
  <div class="ref">
    รหัสอ้างอิง : <strong>{{data.code}}</strong> {{value}} {{data.otp}}
  </div>
  <form>
    <ion-list>
      <ion-item>
        <ion-input type="tel"  #a style="font-size: 20px;" name="value" [(ngModel)]="value"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <!-- <form class="form-container">
    <div>
      <ion-input name="a" #a (keyup)="moveFocus($event,b,'')" type="tel" placeholder="0" maxlength="1">
      </ion-input>
    </div>

    <div>
      <ion-input name="b" #b (keyup)="moveFocus($event,c,a)" type="tel" placeholder="0" maxlength="1">
      </ion-input>
    </div>

    <div>
      <ion-input name="c" #c (keyup)="moveFocus($event,d,b)" type="tel" placeholder="0" maxlength="1">
      </ion-input>
    </div>

    <div>
      <ion-input name="d" #d (keyup)="moveFocus($event,e,c)" type="tel" placeholder="0" maxlength="1">
      </ion-input>
    </div>

    <div>
      <ion-input name="e" #e (keyup)="moveFocus($event,f,d)" type="tel" placeholder="0" maxlength="1">
      </ion-input>
    </div>

    <div>
      <ion-input name="f" #f (keyup)="moveFocus($event,'',e)" type="tel" placeholder="0" maxlength="1"></ion-input>
    </div>
  </form> -->
  <ion-row style="margin-top: 50px;">
    <ion-col class="ion-text-center">
      <ion-button color="dark" shape="round" (click)="close()">ขอ OTP ใหม่</ion-button>

      <ion-button color="success" #g shape="round" (click)="confirm()">ยืนยัน</ion-button>
    </ion-col>
  </ion-row>
</ion-content>