.ref {
    padding: 30px;
    font-size: 20px;
    text-align: center;
    strong {
        color: #2735f6;
    }
}
form {
    margin-top: 34px;
    margin-bottom: 32px;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    div {
        margin-top: 23px;
        margin-right: 5px;
        h2 {
            margin: 0;
            font-size: 12px;
            color: #b6b6be;
        }
        ion-input {
            text-align: center;
            border: 1px solid #329ff1;
            border-radius: 5px;
            margin-top: 8px;
            font-size: 14px;
            padding: 3px !important;
            padding-left: 0px !important;
            color: #383838;
            font-weight: 600;
            --padding-start: 0;
        }
        &:last-child {
            margin-top: 23px;
            margin-right: 0px;
        }
    }
}
