.mainhome {
    max-width: 600px;
    margin: 0 auto;
    #icon_lock {
        text-align: center;
        margin-top: 20px;
        font-size: 70px;
        color: gray;
        ion-icon {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: solid;
            padding: 15px;
        }
    }
    .btn {
        padding-top: 5px;
    }
}
