<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="../">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      แก้ไขรหัสผ่าน
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="mainhome">
    <div id="icon_lock">
      <ion-icon name="lock-closed-outline"></ion-icon>
    </div>
    <ion-card>
      <ion-card-content>
        <form [formGroup]="formPass">
          <ion-item-group>
            <ion-item-divider>
              <ion-label color="primary"><strong>ป้อนรหัสผ่าน</strong></ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="floating">รหัสผ่านเดิม<ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" placeholder="โปรดป้อนรหัสผ่านเดิม" formControlName="old_pass"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">รหัสผ่านใหม่<ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" placeholder="โปรดกรอก 6 - 12 ตัวอักษร" formControlName="new_pass"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">ยืนยันรหัสผ่านใหม่อีกรอบ<ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" placeholder="โปรดกรอก 6 - 12 ตัวอักษร" formControlName="confirm_pass">
              </ion-input>
            </ion-item>
          </ion-item-group>
          <div class="btn">
            <ion-button (click)="update()" expand="block" [disabled]="formPass.invalid">
              บันทึก
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>