/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
* {
  font-family: "Mitr", sans-serif;
}
.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  font-family: "Mitr", sans-serif;
}
ion-label{
  font-family: "Mitr", sans-serif;
}
.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h{
  font-family: "Mitr", sans-serif;
}
.add_reviewpage .modal-wrapper {
  max-height: 300px;
  max-width: 300px;
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  display: block;
}
.alert_css {
  .alert-wrapper {
    background: #e5e5e5;
    border-radius: 5px;
  }
}
.login_page {
  .alert-wrapper {
    border-radius: 10px;
    overflow: hidden;
  }
}

body {
  background: ghostwhite;
}
ion-tab-bar,
ion-title,
ion-tab-button {
  background: #037dd6;
  color: white;
}
ion-content {
  --color: #273F5B;
  --background: ghostwhite;
}
ion-list,
ion-item,
ion-card {
  --color: #273F5B;
  --background: ghostwhite;
}
.list-md,
.list-ios {
  background-color: ghostwhite;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1c1c27;
  }
  ion-tab-bar,
  ion-title,
  ion-tab-button {
    background: #27262c;
  }
  ion-content {
    --background: #1c1c27;
    --color: WHITE;
  }
  ion-list,
  ion-item,
  ion-card {
    --background: #27262c;
    --color: WHITE;
  }
  .list-md,
  .list-ios {
    background-color: #27262c;
  }
  
}
.item-native {
  padding-inline-start: 0px;
}