.type_menu {
  position: relative;
  // bottom: -10px;
  z-index: 99;
  padding: 0px 0px;
  min-width: 150px;
  text-align: -webkit-center;
  .list_type_menu,
  .list_type_menu_scroll {
    background-image: linear-gradient(to bottom, #ebebeba3, #ffffff4d);
    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(to bottom, #313756, #392950);
    }
    overflow: auto;
    max-width: 600px;
    min-width: 270px;
    // padding: 15px 15px;
    box-shadow: 0px 0px 3px 2px #80808040;
    .list_type {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      .main_menu_type {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 10px;
        width: 100px;
        
      }
      .name_type {
        font-size: smaller;
        white-space: nowrap;
        width: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px 5px;
        @media (prefers-color-scheme: dark) {
          color: white;
        }
      }
      .name_type_active {
        background-color: #037dd6;
        color: white;
        padding: 10px 5px;
        border-radius: 10px;
        margin: 5px 0px;
        @media (prefers-color-scheme: dark) {
          background-color: #31d0aa;
          color: white;
        }
      }
    }
  }
  .list_type_menu_scroll {
    top: 50px;
    // left: 50%;
    // margin-left: -285px; /* Negative half of width. */
  }
}

#list_menu {
  background-color: #f9f9f9;
  @media (prefers-color-scheme: dark) {
    background-color: #27262c;
  }
  min-height: calc(100vh - 500px);
  border-radius: 5px;
  margin: 35px 10px;
  box-shadow: 0px 0px 5px 2px #90909024;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0px;
  .menu {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: solid 1px #78787870;
    @media (prefers-color-scheme: dark) {
      border-bottom: solid 1px #ffffff;
    }
    margin: 0px 10px;
    height: 140px;
    width: 265px;
    .menu-img {
      padding: 15px;
      .countOfmenu {
        position: relative;
        background-color: #f05050;
        color: white;
        bottom: 10px;
        right: 10px;
        padding: 5px;
        border-radius: 49%;
        width: 25px;
        height: 25px;
        font-size: smaller;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media (prefers-color-scheme: dark) {
          background-color: #ed4b9e;
        }
      }
      .status-food {
        background-color: #6ecb63;
        color: white;
        font-size: small;
        font-weight: 600;
        padding: 3px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 60px;
        position: relative;
        bottom: 18px;
        left: 19px;
      }
      .img {
        border-radius: 5px;
        background-size: cover;
        width: 100px;
        height: 100px;
        background-position: center;
      }
    }
    .menu-detail {
      margin-top: 10px;
      font-size: small;
      font-weight: bolder;
      .menu_name {
        font-size: initial;
      }
      .can-pick {
      }
      .none-pick {
      }
    }
  }
  .not-menu {
    display: flex;
    padding: 50px 10px;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}

::-webkit-scrollbar {
  height: 5px;
  margin: 0px 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #037dd6;
}

@media (prefers-color-scheme: dark) {
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0f0c14;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: WHITE;
  }
}

.cart {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 60px;
  height: 60px;
  padding: 13px;
  border-radius: 35px;
  background-color: cadetblue;
  #count_menu {
    position: absolute;
    bottom: 30px;
    right: 4px;
    background-color: #ff2626;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    border-radius: 15px;
  }
}
.content {
  max-width: 600px;
  margin: 0 auto;
}

.is_order {
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    min-width: 150px;
    max-width: 350px;
  }
  #label_status {
    text-align: center;
    font-size: x-large;
    color: #314757;
  }
}

.text-order {
  margin: 10px 0px;
}

.title-label {
  color: #314757;
  font-weight: 600;
}

#bar-cart {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0);
  #tab-card {
    width: 98%;
    height: 50px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #0aa300a3, #00a61c);
    box-shadow: 0px 0px 4px 1px #4b4b4b;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text-cart {
      padding: 0px 20px;
    }
    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(to bottom, #313756, #392950);
      color: WHITE;
    }
  }
}

@media only screen and (max-width: 560px) {
  #list_menu {
    display: block;
    .menu {
      width: 95%;
    }
  }
}
ion-concent{
  --ion-background-color:#faf9ff;
}
ion-list{
  --background: #faf9ff;
  --ion-background-color:#faf9ff;
}
.ios{
  ion-card{
    // margin: 10px;
  }
}
ion-card {
  padding: 0px;

  ion-card-title{
    font-size: 18px;
    font-weight: bold;
  }
  ion-label{
    min-height: 30px;
  }
  ion-badge{
    float: right;
    border-radius: 50%;
    min-width: 23px;
    
  }
  ion-img{
    border-radius: 10px;
  }
  .price{
    float: right;
    font-weight: bold;
    font-size: 15px;
    color:#005fcc;
  }
}
