<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{res.uri+'/delivery'}}" text="" *ngIf="checkTypeCart() == 'restaurant-menu'">
      </ion-back-button>
      <ion-back-button defaultHref="{{res.uri+'/'+checkTypeCart()}}" text="" *ngIf="checkTypeCart() == 'booking'">
      </ion-back-button>
      <ion-back-button defaultHref="{{res.uri+'/'+checkTypeCart()}}" text="" *ngIf="checkTypeCart() == 'receive'">
      </ion-back-button>
    </ion-buttons>
    <ion-title>รายการอาหาร</ion-title>
  </ion-toolbar>
</ion-header>
<div id="demo">
  <div class="type_menu" style="overflow-x: auto;">
    <div class="list_type_menu_scroll " style="display: {{showTypeMenu}}">
      <div class="list_type">
        <div class="main_menu_type" *ngFor="let g of _group;let i = index" (click)="pickTypeMenu(i,g.fg_id)">
          <div class="name_type" [ngClass]="{'name_type_active':g.isPick}">
            {{g.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div>
    <div class="content">
      <div class="type_menu">
        <div class="list_type_menu">
          <div class="list_type">
            <div class="main_menu_type" *ngFor="let g of _group;let i = index" (click)="pickTypeMenu(i,g.fg_id)">
              <div class="name_type" [ngClass]="{'name_type_active':g.isPick}">
                {{g.name}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <ion-list>


        <ion-card *ngFor="let m of _menu ; let i = index" (click)="pickFood(m,i)">
          <div>
            <div class="img_food"
              style="width: 140px;float: left; height: 100px; display: inline-block; background-image: url('{{m.pic_id}}');background-size: cover;background-position: center;">
            </div>
            <!-- <ion-img src="https://app.deltafood.co/ci/pic/340" [src]="m.pic_id" slot="start"></ion-img> -->
            <div style="float: left; width: calc(100% - 140px); padding: 5px;padding-left: 10px;">
              <ion-badge color="danger" *ngIf="activeCountFood(m.f_id,i) > 0">{{activeCountFood(m.f_id,i)}}
              </ion-badge>
              <ion-card-title>{{m.name}}</ion-card-title>

              <ion-label style="width: 100%;min-width: 17px;display: block;" *ngIf="m.detail!='ไม่ทราบ'"> {{m.detail}}
              </ion-label>
              <div>
                <div class="price" *ngIf="m.p_by_w == '0'">{{m.price}}฿</div>
                <div class="price" *ngIf="m.p_by_w != '0'">ตามน้ำหนัก</div>
                <ion-button size="small" shape="round" color="primary" *ngIf="m.status != 0">เพิ่ม</ion-button>
                <ion-button size="small" shape="round" color="danger" *ngIf="m.status == 0">สินค้าหมด</ion-button>
              </div>


              <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
            </div>
          </div>
        </ion-card>


      </ion-list>
      <div id="list_menu" *ngIf="_menu.length < 1">
        <div class="not-menu">
          <img src="../../assets/img/serving-dish-null.png" width="150px">
          <label style="margin: 20px;font-size: x-large;">ไม่พบเมนูอาหาร !</label>
        </div>
      </div>


    </div>

  </div>

</ion-content>
<div id="bar-cart" *ngIf="checkAmount() > 0">
  <div id="tab-card" (click)="orderIncart()">
    <div class="text-cart" style="display: flex;">
      <ion-icon name="cart-outline" style="width: 30px;height: 30px;"></ion-icon>
      &nbsp;
      <label style="font-size: larger;">{{checkAmount()}}</label>
    </div>

    <div class="text-cart" style="font-size: larger;" *ngIf="checkTypeCart() == 'restaurant-menu'">เดลิเวอร์รี่</div>
    <div class="text-cart" style="font-size: larger;" *ngIf="checkTypeCart() == 'booking'">จองโต๊ะ</div>
    <div class="text-cart" style="font-size: larger;" *ngIf="checkTypeCart() == 'receive'">รับเองที่ร้าน</div>
    <div class="text-cart" style="font-size: larger;" *ngIf="p_by_w()">≈ {{checkTotalPrice()|currency:'฿'}}</div>
    <div class="text-cart" style="font-size: larger;" *ngIf="!p_by_w()">{{checkTotalPrice()|currency:'฿'}}</div>
  </div>
</div>