.content{
    // max-width: 600px;
    // margin: 0 auto;
}
.map{
    // max-width: 600px !important;
    // height: 500px !important;
    // position: inherit !important;
    height:300px;
    width: 100%;
}
.mainhome2 {
    max-width: 600px;
    margin: 0 auto;
    margin-top:-60px;
}
ion-card-header {
    font-size: 20px;
    font-weight: 600;
    border-bottom: solid 1px #e4e4e4;
    color: #000;
}