<ion-content style="--background: url('assets/img/IMG_9563.jpg')  no-repeat center;">
  <div>
    <div style="float: right;width: max-content;margin-right: 30px;margin-top: 30px;" (click)="close()">
      <label style="cursor: pointer;color:#000">ปิด</label>
    </div>
  </div>
  <ion-grid style="margin-top: 20vh;">
    <form [formGroup]="loginForm">
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h4 style="font-weight: bold;">ล็อกอิน</h4>
          </div>
          <div class="ion-apdding">
            <ion-item style="   border-top-left-radius: 10px;border-top-right-radius: 10px;">
              <ion-input type="tel" maxlength="10" formControlName="username" placeholder="เบอร์โทรศัพท์"></ion-input>
            </ion-item>
            <ion-item style="    border-bottom-left-radius: 10px;            border-bottom-right-radius: 10px;">
              <ion-input type="password" placeholder="รหัสผ่าน" formControlName="password"></ion-input>
            </ion-item>
          </div>
          <div class="ion-apdding">
            
            <ion-button size="large" (click)="loginUser()" [disabled]="loginForm.status=='INVALID'" expand="block">เข้าสู่ระบบ
            </ion-button>
            <ion-row>
              <ion-col>
                <ion-button size="small" expand="block" color="secondary" (click)="reset_pass()"> ลืมรหัสผ่าน
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button size="small" expand="block" color="tertiary" (click)="register()"> สมัครสมาชิก
                </ion-button>
              </ion-col>
            </ion-row>
          </div>

        </ion-col>
      </ion-row>
    </form>

  </ion-grid>
</ion-content>