ion-content {
  --background: linear-gradient(to bottom, #d2e9f7, #ffe9c16e);
  @media (prefers-color-scheme: dark) {
    --background: linear-gradient(to bottom, #313756, #392950);
  }
}
.mainhome {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
.w_queue {
  text-align: center;
  ion-card-title {
    font-size: 30px;
  }
  .queue {
    text-align: center;
    font-size: 20px;
    margin: 30px 0;
    strong {
      font-size: 50px;
      color: #037dd6;
      @media (prefers-color-scheme: dark) {
        color: #9a6aff;
      }
    }
    div {
      font-size: 20px;
    }
  }
}
.select_show {
  font-weight: 600;
  .add_btn {
    position: absolute;
    right: 10px;
    margin-top: -5px;
  }
  ion-card-header {
    font-size: 20px;
    font-weight: 600;
    border-bottom: solid 1px #e4e4e4;
  }
  .list_item {
    ion-buttons {
      width: 80px;
      margin-left: -10px;
    }
    ion-label {
      font-weight: bold;
    }
  }
  ion-list-header {
    font-size: 20px;
    font-weight: bold;
  }
  .item_list {
    padding: 0px;
  }
  h3 {
    font-size: 22px;
    font-weight: 600;
  }

  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  ion-content {
    --ion-background-color: #50c8ff3d;
  }
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }

  #container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
  }

  #container a {
    text-decoration: none;
  }
  .title {
    color: #F05050;
    @media (prefers-color-scheme: dark) {
      color: #ED4B9E;
    }
    font-size: 40px;
    font-weight: 600;
  }
  .about_permission{
    color: #F05050;
    @media (prefers-color-scheme: dark) {
      color: #ED4B9E;
    }
  }
  .typ-queue{
    color: #037DD6;
    @media (prefers-color-scheme: dark) {
      color: #9A6AFF;
    }
  }
}
