<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>จองคิวเร็วที่สุด</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="mainhome">
    <div class="select_show" *ngIf="!select_show">
      <div id="container">
        <ion-row *ngIf="data.count!=0">
          <ion-col>
            <h3>
              หมายเลขคิว
            </h3>
            <h1 class="title">
              {{data.qcode}}
            </h1>
          </ion-col>
          <ion-col style="border-left:solid 2px #eb445a;">
            <h3>รออีก</h3>
            <h1 class="title">{{data.count}} <small>คิว</small></h1>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="data.count==0">
          <ion-col>
            <h1 style="font-weight: 600;">
              ถึงคิวท่านแล้ว
            </h1>
            <h2>
              เชิญที่ <ion-badge size="large" color="success" style="font-size: 31px;
              padding: 8px;
              margin: 0px 5px -16px 5px;">{{data.totable}}</ion-badge> ค่ะ
            </h2>
            <br />
            <div>
              <ion-button (click)="open_table()">
                เปิดโต๊ะ
              </ion-button>
            </div>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngIf="data.qt_id!='0'">
              ประเภทคิว : <span class="typ-queue">
                {{data.q_text}}
              </span>
            </div>


            วันที่และเวลา : {{data.time_start}}<br />
            จำนวนที่นั่ง {{data.people}} ท่าน
          </ion-col>
        </ion-row>
        <ion-row *ngIf="data.count!=0">
          <ion-col class="about_permission">
            ขอสงวนสิทธิ์ในการข้ามคิว<br />
            กรณีลูกค้าไม่แสดงตน
            <br />
            <!-- <ion-button (click)="open_group()" *ngIf="store.add_food_inq">
            เลือกอาหารไว้รอ
          </ion-button> -->
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div *ngIf="select_show" class="w_queue">
      <ion-card *ngFor="let item of queue">
        <ion-card-header>
          <ion-label color="primary" style="font-size: x-large;font-weight: bold;">
            {{item.q_text}}
          </ion-label>
        </ion-card-header>

        <ion-card-content>
          <div class="queue">
            มี <strong>{{item.number}}</strong> คิว<div>ที่รออยู่</div>
          </div>
        </ion-card-content>
        <ion-card-header>
          <ion-button size="large" color="success" shape="round" expand="full" (click)="select_queue(item)">จองคิว
          </ion-button>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
  <div *ngIf="!select_show" style="position: fixed;bottom: 0px;">
    <div style="width: 100vw;display: flex;justify-content: space-between;">
      <ion-button *ngIf="data.count!=0" (click)="edit_people()" color="primary" style="margin-left: 10px;">
        ที่นั่ง
      </ion-button>
      <ion-button style="margin-right: 10px;" (click)="cancel_q()" color="danger" slot="end">
        ยกเลิก
      </ion-button>
    </div>
  </div>
</ion-content>
<!-- <ion-footer *ngIf="!select_show">
  <ion-toolbar>


  </ion-toolbar>
</ion-footer> -->